<div class="container">
  <div class="selecaoFiltro">
    <h3 class="tittle">Procedimento Criminal Judicial</h3>
    <p class="breadcrumbAdm">{{breadcrumb}}</p>
    <div class="content col-12">
      <div class="menosFiltros">
        <div class="col-4">
          <div class="escritorio">
            <span>Escritório:</span>
            <ng-select [items]="listaComboEscritorio" [(ngModel)]="escritorioSelecionado" bindLabel="descricao"
              placeholder="Selecione um Escritório">
            </ng-select>
          </div>
        </div>
        <div class="col-8 d-flex pl-0">
          <div class="col-9 d-flex pl-0">
            <div class="procedimento col-3">
              <span>Procedimento Nº:</span>
              <ng-select [items]="listaProcedimento" [(ngModel)]="procedimentoSelecionado" bindLabel="nome"
                placeholder="Selecione um Procedimento" bindValue="nome" bindValue="id">
              </ng-select>
            </div>
            <div class="col-3" style="margin-top: auto;">
              <ng-select [items]="listaProcedimentoNumero" [(ngModel)]="procedimentoNumeroSelecionado" bindLabel="nome"
                placeholder="Selecione um Procedimento" bindValue="nome" bindValue="id">
              </ng-select>
            </div>
            <div class="inputProcedimento col-6">
              <input type="search" [(ngModel)]="procedimentoNumero">
            </div>
          </div>
          <div class="situacao col-3">
            <span>Situação:</span>
            <ng-select [items]="listaSituacao" [(ngModel)]="situacaoSelecionado" bindLabel="nome"
              placeholder="Selecione uma Situação" bindValue="nome" bindValue="id">
            </ng-select>
          </div>
        </div>
      </div>

      <div class="maisFiltros" *ngIf="maisFiltros">
        <!-- FIRST LINE -->
        <div class="col-4 pt-3">
          <div class="estado">
            <span>Estado:</span>
            <ng-select [items]="listaComboEstado" [(ngModel)]="estadoSelecionado" bindLabel="descricao"
              placeholder="Selecione um Estado" (change)="estadoOnChange($event)">
            </ng-select>
          </div>
        </div>

        <div class="col-8 pt-3">
          <div class="Assunto">
            <span>Assunto:</span>
            <ng-select [items]="listaComboAssunto" [(ngModel)]="assuntoSelecionado" bindLabel="descricao"
              placeholder="Selecione um Assunto">
            </ng-select>
          </div>
        </div>

        <!-- SECUND LINE -->
        <div class="col-4 pt-3">
          <div class="comarca">
            <span>Comarca:</span>
            <ng-select [items]="listaComboComarca" [(ngModel)]="comarcaSelecionado" bindLabel="descricao"
              placeholder="Selecione uma Comarca">
            </ng-select>
          </div>
        </div>

        <div class="col-8 d-flex pl-0 pt-3">
          <div class="col-9 d-flex pl-0">
            <div class="CpfCnpj col-6">
              <span>CPF / CNPJ Parte:</span>
              <ng-select [items]="listaCpfCnpj" [(ngModel)]="CpfCnpjSelecionado" bindLabel="nome"
                placeholder="Selecione tipo de documento" bindValue="id">
              </ng-select>
            </div>
            <div class="inputCpfCnpj col-11">
              <input type="search" mask="CPF_CNPJ" (keyup)="cpfcnpjmask(CpfCnpjNumero)" [(ngModel)]="CpfCnpjNumero">
            </div>
          </div>
        </div>

        <!-- THIRD LINE -->
        <div class="col-4 pt-3">
          <div class="empresaDoGrupo">
            <span>Empresa do Grupo:</span>
            <ng-select [items]="listaComboEmpresaDoGrupo" [(ngModel)]="empresaDoGrupoSelecionado" bindLabel="descricao"
              placeholder="Selecione uma Empresa do Grupo">
            </ng-select>
          </div>
        </div>

        <div class="col-8 d-flex pl-0 pt-3">
          <div class="col-9 d-flex pl-0">
            <div class="nomeParte col-6">
              <span>Nome Parte:</span>
              <ng-select [items]="listaNomeParte" [(ngModel)]="nomeParteSelecionado" bindLabel="nome"
                placeholder="Selecione um Município"  bindValue="id">
              </ng-select>
            </div>
            <div class="inputNomeParte col-11">
              <input type="search" [(ngModel)]="nomeParteNumero">
            </div>
          </div>
        </div>

        <!-- FOURTH LINE -->
        <div class="col-4 pt-3">
          <div class="competencia">
            <span>Tipo Participação:</span>
            <ng-select [items]="listaComboTipoParticipacao" [(ngModel)]="tipoParticipacaoSelecionado" bindLabel="descricao"
            placeholder="Selecione um Tipo de Participação">
          </ng-select>
          </div>
        </div>

        <div class="col-8 pt-3">
          <div class="nomeParte">
            <span>CPF Testemunha:</span>
            <input type="search" class="inputTestemunha d-flex" [(ngModel)]="cpfTestemunhaSelecionado" (keyup)="cpfmask(cpfTestemunhaSelecionado)">
          </div>
        </div>

        <!-- FIFTH LINE -->
        <div class="col-4 pt-3">
          <div class="Acao">
            <span>Ação:</span>
            <ng-select [items]="listaComboAcao" [(ngModel)]="acaoSelecionado" bindLabel="descricao"
              placeholder="Selecione uma Ação">
            </ng-select>
          </div>
        </div>

        <div class="col-8 pt-3">
          <div class="procedimento">
            <span>Procedimentos Checados:</span>
            <ng-select [items]="listaProcedimentosChecados" [(ngModel)]="procedimentosChecadosSelecionado"
              bindLabel="nome" placeholder="Selecione um Procedimento" bindValue="id">
            </ng-select>
          </div>
        </div>

        <!-- SIXTH LINE -->
        <div class="col-4 pt-3">
          <div class="Criticidade">
            <span>Criticidade:</span>
            <ng-select [items]="listaCriticidade" [(ngModel)]="criticidadeSelecionado" bindLabel="nome"
              placeholder="Selecione uma Criticidade" bindValue="id">
            </ng-select>
          </div>
        </div>

      </div>

      <div class="buttons d-flex col-12">
        <span class="opt">
          <a class="btnLink" (click)="pesquisar()">Pesquisar</a>
          <a class="btnLink ml-4" *ngIf="podeIncluir" href="{{ambiente}}/2.0/processo/CriminalJudicial/Novo/NovoProcesso.aspx?vl=0">Novo</a>
          <a class="btnLink ml-4" (click)="limpar()">Limpar</a>
          <a class="btnLink ml-4" (click)="executarFiltros()">{{textFiltro}}</a>
        </span>
      </div>

    </div>

    <div class="ultimoAcessados col-12" *ngIf="totalUltimosProcessos>0">
      <div class="col-md-12">
        <div class="pb-3"><b>RELAÇÃO DE ÚLTIMOS PROCEDIMENTOS ACESSADOS</b></div>
        <table id="empresas" class="table table-striped table-sm">
          <thead>
            <tr>
              <td class="headerTable"><b>PROCESSO</b></td>
              <td class="headerTable"><b>ESTADO/COMARCA/VARA</b></td>
              <td class="headerTable"><b>ÚLTIMO ACESSO</b></td>
              <td class=""></td>
            </tr>
          </thead>

          <ng-container *ngFor="let proc of listaUltimosProcessos">
            <tbody>
              <tr style="text-align: initial;">
                <td class="bodyTable">{{proc.nro_processo}}</td>
                <td class="bodyTable">{{proc.estado}} / {{proc.comarca}} / {{proc.vara}}</td>
                <td class="bodyTable">{{proc.data_ultimo_acesso}}</td>
                <td>
                  <div style="text-align: center;">
                    <a class="p-2 mr-1"
                      href="{{ambiente}}/2.0/processo/CriminalJudicial/Alteracao/AlterarProcesso.aspx?codProcesso={{proc.id}}&e=0&vl=0"><i
                        class="icons fas fa-search ml-1"></i></a>
                    <a *ngIf="podeAlterar" class="p-2 mr-1"
                      href="{{ambiente}}/2.0/processo/CriminalJudicial/Alteracao/AlterarProcesso.aspx?codProcesso={{proc.id}}&e=1&vl=0"><i
                        class="icons fas fa-edit ml-1"></i></a>
                    <a class="p-2" (click)="imprimir(proc.id)"><i class="icons fas fa-print ml-1"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </ng-container>
        </table>
      </div>

    </div>
  </div>
</div>