.input-filter-disponivel {
  margin-left: 1%;
  width: 97.7%;
}


.input-filter-associado {
  margin-left: 1.3%;
  width: 98%;
}

.input-filter-disp-user {
  margin-left: 0.5%;
  width: 96.4%;
}

.input-filter-asso-user {
  margin-top: 0.5%;
  margin-left: 3.5%;
  width: 96%;
}
