<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ titulo }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-0" [formGroup]="formulario">
  <form>
    <div class="row">
      <div class="col-md-4">
        <label class="col-form-label-sm" for="cpf">&nbsp;</label>
        <table>
          <tbody>
            <tr>
              <td style="width: 100px;">
                <label class="col-form-label-sm" for="tipoPessoa">
                  <b>Tipo de Pessoa:</b>
                </label>
              </td>
              <td style="width:60px;">
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    name="tipoPessoa"
                    id="tipoPessoaF"
                    value="F"
                    [formControl]="tipoPessoaFormControl"
                    (change)="aoSelecionarTipoPessoa()"
                  />
                  <label
                    for="tipoPessoa-fisica"
                    class="form-check-label col-form-label-sm pl-1"
                    style="font-size: 12px;"
                  >
                  Física
                </label>
                </div>
              </td>
              <td style="width:60px;">
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    name="tipoPessoa"
                    id="tipoPessoaJ"
                    value="J"
                    [formControl]="tipoPessoaFormControl"
                    (change)="aoSelecionarTipoPessoa()"
                  />
                  <label
                    for="tipoPessoa-juridica"
                    class="form-check-label col-form-label-sm pl-1"
                    style="font-size: 12px;"
                  >
                  Jurídica
                </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4" *ngIf="tipoPessoaFormControl.value === 'F'">
        <label class="col-form-label-sm" for="cpf">
          <b>CPF:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="cpf" name="cpf"
          [textMask]="{ mask: mascaraCpf }"
          [formControl]="cpfFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(cpfFormControl)"
          [ngbTooltip]="validacaoCpf"/>
        <ng-template #validacaoCpf>
          <span *ngIf="cpfFormControl.invalid && cpfFormControl.errors.required">
            Campo obrigatório
          </span>
          <span *ngIf="cpfFormControl.invalid && cpfFormControl.errors.maxlength">
            O CPF não pode ter mais de 11 caracteres
          </span>
          <span *ngIf="formulario.get('cpf').getError('cpfNotValid')">
            CPF incorreto. Favor informá-lo novamente
          </span>
        </ng-template>
      </div>
      <div class="col-md-4" *ngIf="tipoPessoaFormControl.value === 'F'">
        <label class="col-form-label-sm" for="carteira-trabalho">
          <b>Carteira de Trabalho:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="carteira-trabalho"
          name="carteira-trabalho"
          [textMask]="{ mask: mascaraCarteiraTrabalho, guide: false }"
          [formControl]="carteiraTrabalhoFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(carteiraTrabalhoFormControl)"
          [ngbTooltip]="validacaoCarteiraTrabalho"/>
        <ng-template #validacaoCarteiraTrabalho>
          <span *ngIf="carteiraTrabalhoFormControl.invalid && carteiraTrabalhoFormControl.errors.maxlength">
            A Carteira de Trabalho não pode ter mais de 8 caracteres
          </span>
        </ng-template>
      </div>
      <div class="col-md-8" *ngIf="tipoPessoaFormControl.value === 'J'">
        <label class="col-form-label-sm" for="cnpj">
          <b>CNPJ:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="cnpj" name="cnpj"
          [textMask]="{ mask: mascaraCnpj }"
          [formControl]="cnpjFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(cnpjFormControl)"
          [ngbTooltip]="validacaoCnpj"/>
        <ng-template #validacaoCnpj>
          <span *ngIf="cnpjFormControl.invalid && cnpjFormControl.errors.required">
            Campo obrigatório
          </span>
          <span *ngIf="cnpjFormControl.invalid && cnpjFormControl.errors.maxlength">
            O CNPJ não pode ter mais de 14 caracteres
          </span>
          <span *ngIf="formulario.get('cnpj').getError('cnpjNotValid')">
            CNPJ incorreto. Favor informá-lo novamente
          </span>
        </ng-template>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-12">
        <label class="col-form-label-sm" for="nome">
          <b>Nome:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="nome" name="nome"
          maxlength="400"
          [formControl]="nomeFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(nomeFormControl)"
          [ngbTooltip]="validacaoNome"
          maxlength="400"/>
        <ng-template #validacaoNome>
          <span *ngIf="nomeFormControl.invalid && nomeFormControl.errors.required">
            Campo obrigatório
          </span>
          <span *ngIf="nomeFormControl.invalid && nomeFormControl.errors.maxlength">
            O nome não pode ter mais de 400 caracteres
          </span>
        </ng-template>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-3">
        <label class="col-form-label-sm" for="telefone">
          <b>Telefone:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="telefone" name="telefone"
          [formControl]="telefoneFormControl"
          [textMask]="{ mask: mascaraTelefone }" />
      </div>
      <div class="col-md-3">
        <label class="col-form-label-sm" for="celular">
          <b>Celular:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="celular" name="celular"
          [formControl]="celularFormControl"
          [textMask]="{ mask: mascaraCelular }" />
      </div>
      <div class="col-md-3" *ngIf="temPermissaoAlteraCartaFianca">
        <label class="col-form-label-sm" for="valorCartaFianca">
          <b>Valor Carta Fiança:</b>
        </label>
        <input
          class="form-control form-control-sm"
          id="valorCartaFianca" name="valorCartaFianca"
          placeholder="0,00"
          currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2 }"
          maxlength="13"
          [formControl]="valorCartaFiancaFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(valorCartaFiancaFormControl)"
          [ngbTooltip]="validacaoValorCartaFianca"/>
        <ng-template #validacaoValorCartaFianca>
          <span *ngIf="temPermissaoAlteraCartaFianca && valorCartaFiancaFormControl.invalid && valorCartaFiancaFormControl.errors.required">
            Campo obrigatório
          </span>
          <span *ngIf="valorCartaFiancaFormControl.invalid && valorCartaFiancaFormControl.errors.maxlength">
            O Valor da carta de fiança não pode ter mais de 13 caracteres
          </span>
        </ng-template>
      </div>
      <div class="col-md-3" *ngIf="temPermissaoAlteraCartaFianca">
        <label class="col-form-label-sm" for="dataCartaFianca">
          <b>Data Carta Fiança:</b>
        </label>
        <form class="form-inline">
          <div class="form-group">
            <div class="form-inline">
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="DD/MM/AAAA"
                rInputMask="99/99/9999"
                [bsConfig]="{showWeekNumbers: false }"
                name="data"
                id="data"
                [formControl]="dataCartaFiancaFormControl"
                bsDatepicker
                #data="bsDatepicker"
                style="width: 100px;"
                placement="top-left top-right bottom-left bottom-right"
                [disableTooltip]="desabilitaTooltip(dataCartaFiancaFormControl)"
                [ngbTooltip]="validacaoDataCartaFiancaFormControl" />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn btn-outline-secondary calendar"
                  (click)="data.toggle()"
                  [attr.aria-expanded]="data.isOpen">
                  <i class="fa-solid fa-calendar-days"></i>
                </button>
              </div>
              <ng-template #validacaoDataCartaFiancaFormControl>
                <span *ngIf="temPermissaoAlteraCartaFianca && dataCartaFiancaFormControl.invalid && dataCartaFiancaFormControl.errors.required">
                  Campo obrigatório
                </span>
                <span *ngIf="dataCartaFiancaFormControl.invalid && dataCartaFiancaFormControl.errors.validDate">
                  Data inválida
                </span>
                <span
                  *ngIf="dataCartaFiancaFormControl.invalid && dataCartaFiancaFormControl.errors.bsDate && dataCartaFiancaFormControl.errors.bsDate.invalid">
                  Data inválida
                </span>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-12">
        <label class="col-form-label-sm" for="endereco">
          <b>Endereço:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="endereco" name="endereco"
          maxlength="400"
          [formControl]="enderecoFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(enderecoFormControl)"
          [ngbTooltip]="validacaoEndereco"
          maxlength="400"/>
        <ng-template #validacaoEndereco>
          <span *ngIf="enderecoFormControl.invalid && enderecoFormControl.errors.maxlength">
            O endereço não pode ter mais de 400 caracteres
          </span>
        </ng-template>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-6">
        <label class="col-form-label-sm" for="enderecosAdicionais">
          <b>Endereços Adicionais:</b>
        </label>
        <textarea rows="5"
          class="form-control form-control-sm"
          id="enderecosAdicionais" name="enderecosAdicionais"
          maxlength="4000"
          [formControl]="enderecosAdicionaisFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(enderecosAdicionaisFormControl)"
          [ngbTooltip]="validacaoEnderecosAdicionais"
          maxlength="4000">
          </textarea>
        <ng-template #validacaoEnderecosAdicionais>
          <span *ngIf="enderecosAdicionaisFormControl.invalid && enderecosAdicionaisFormControl.errors.maxlength">
            Os endereços adicionais não podem ter mais de 4000 caracteres
          </span>
        </ng-template>
        <span style="font-size:11px;" class="float-right">{{ enderecosAdicionaisFormControl.value ? (4000 - enderecosAdicionaisFormControl.value.length) : 4000 }}/4000 caracteres restantes</span>
      </div>
      <div class="col-md-6">
        <label class="col-form-label-sm" for="telefonesAdicionais">
          <b>Telefones Adicionais:</b>
        </label>
        <textarea rows="5"
          class="form-control form-control-sm"
          id="telefonesAdicionais" name="telefonesAdicionais"
          maxlength="4000"
          [formControl]="telefonesAdicionaisFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(telefonesAdicionaisFormControl)"
          [ngbTooltip]="validacaoTelefonesAdicionais"
          maxlength="4000">
          </textarea>
        <ng-template #validacaoTelefonesAdicionais>
          <span *ngIf="telefonesAdicionaisFormControl.invalid && telefonesAdicionaisFormControl.errors.maxlength">
            Os telefones adicionais não podem ter mais de 4000 caracteres
          </span>
        </ng-template>
        <span style="font-size:11px;" class="float-right">{{ telefonesAdicionaisFormControl.value ? (4000 - telefonesAdicionaisFormControl.value.length) : 4000 }}/4000 caracteres restantes</span>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-md-6">
        <label class="col-form-label-sm" for="cidade">
          <b>Cidade:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="cidade" name="cidade"
          maxlength="30"
          [formControl]="cidadeFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(cidadeFormControl)"
          [ngbTooltip]="validacaoCidade"
          maxlength="30"/>
        <ng-template #validacaoCidade>
          <span *ngIf="cidadeFormControl.invalid && cidadeFormControl.errors.maxlength">
            A cidade não pode ter mais de 30 caracteres
          </span>
        </ng-template>
      </div>
      <div class="col-md-6">
        <label class="col-form-label-sm" for="estado">
          <b>Estado:</b>
        </label>
        <ngx-select
          optionValueField="id"
          optionTextField="descricao"
          id="estado"
          [allowClear]="true"
          [items]="estados"
          [formControl]="estadoFormControl" >
        </ngx-select>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-6">
        <label class="col-form-label-sm" for="bairro">
          <b>Bairro:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="bairro" name="bairro"
          maxlength="30"
          [formControl]="bairroFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(bairroFormControl)"
          [ngbTooltip]="validacaoBairro"
          maxlength="30"/>
        <ng-template #validacaoBairro>
          <span *ngIf="bairroFormControl.invalid && bairroFormControl.errors.maxlength">
            O bairro não pode ter mais de 30 caracteres
          </span>
        </ng-template>
      </div>
      <div class="col-md-4">
        <label class="col-form-label-sm" for="cep">
          <b>CEP:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="cep" name="cep"
          [formControl]="cepFormControl"
          [textMask]="{ mask: mascaraCep }" />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" aria-label="Close" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="confirmar()">Confirmar</button>
</div>
