$cor-zebrado-tabela-log: rgba(210, 210, 218, 0.2);
$cor-bordas: #D2D2DA;
$cor-textos: #555555;
$cor-destaque1: rgba(228, 45, 45, 1);
$cor-destaque2: rgb(241, 174, 0);
$cor-fundo-selecionados: rgba(119, 107, 185, 1);
$cor-texto-selecionados: rgba(255, 255, 255, 1);
$cor-texto-topo-colunas: #222222;
$cor-texto-info: #222222;

//mensagem quando não há dados de log
.sem-dados-log {
    width: 100%;
    height: 100%;
    color: $cor-textos;
    align-items: center;
    justify-content: center;
    display: flex;
}

.botaoDeVoltar {
    left: 80%;
    top: 0px;
    background: none;
    border: none;
    color: #6f62b2;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
  
.log_conteudo_geral {
    width: 85%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
  
.log_menu {
    flex-basis: 20%;
    background: white;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    min-width: 160px;
    overflow: auto;
    border: solid 1px $cor-bordas;
    text-rendering: optimizeLegibility;
}
  
.log_conteudo {
    height: 100%x;
    flex-basis: 80%;
    display: block;
    border: solid 1px $cor-bordas;
    overflow: auto;
}
  
div[ng-reflect-klass="btMenuLog"], .btMenuLog {
    line-height: 28px;
    text-align: center;
    color: $cor-textos;
    cursor: pointer;
    overflow: hidden;
    display: block;
    justify-content: center;
    font-size: 13px;
    margin-bottom: 3px;
    position: relative;
}
   
div[ng-reflect-klass="btMenuLog"] span, .btMenuLog span {
    flex-basis: 85%;
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
    white-space: nowrap;
    height: 28px;
    top: 0px;
    left: 0px;
}
  
div[ng-reflect-klass="btMenuLog"] span i, .btMenuLog span i {
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
  
.subItens .subItem {
    height: 22px;
    border-radius: 20px;
    font-size: 10px;
    line-height: 20px;
    color:$cor-textos;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    margin-left: 45px;
}

.subItens .subItem{

    div.bullet {
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 7px;
        margin-right: 5px;
        margin-left: 15px;
        background: white;
        border: solid 1px $cor-bordas;
    
        &:before{
            content: "";
            position: absolute;
            height: 100%;
            width: 5px;
            border-left: solid 1px #e0daff;
            left: 0px;
        }

        &:after {
            content: "";
            position: absolute;
            height: 5px;
            width: 15px;
            border-top: solid 1px $cor-bordas;
            left: 0px;
            top: 50%;
        }
    }


    &:first-of-type div.bullet:before {
        height: 100%;
        top: 50%;
    }

    &:last-of-type div.bullet:before {
        height: 100%;
        top: -50%;
    }

    span {
        min-width: 130px;
        overflow: visible;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

}

div[ng-reflect-klass="btMenuLog"].selected span.titulo,
  .btMenuLog.selected span.titulo {
    background: $cor-fundo-selecionados;
    color: $cor-texto-selecionados;
}

div.subItem.selected{
    span div.bullet {
        background: $cor-fundo-selecionados;
        border-color: $cor-fundo-selecionados;
    }

    span:before {
        content: '✓';
        font-size: 13px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 5px;
        left: 16px;
        height: 10px;
        width: 10px;
    }
}
  
.log-place-buttons {
    width: 85%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
}
  
.log-dados-topo {
    width: 85%;
    text-align: right;
    min-height: 20px;
    justify-content: flex-end;
    align-items: center;
    min-height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
}
  
.log-info-processo {
    width: 80%;
    text-align: center;
    padding-left: 11%;
    padding-right: 11%;
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
    color: $cor-texto-info;
}
  
//sistema de ícones
div.iconLine {
    display: inline-flex;
    width: 100%;
    white-space: nowrap;
    align-items: center;
    justify-content: flex-start;
  
    div.multiline {
      line-height: 14px;
      white-space: normal;
      flex-basis: 80%;
    }
}

div[ng-reflect-klass="btMenuLog"], .btMenuLog {
  
    div.logIcon {
      display: inline-block;
      min-height: 22px;
      min-width: 22px;
      flex-basis: 20%;
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: center center;  
    }
}

div[ng-reflect-klass="btMenuLog"].selected, .btMenuLog.selected {
  
    div.logIcon {
      display: inline-flex;
      height: 22px;
      width: 22px;
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: center center;
    }
}

// exibição das tabelas
.logtable table {
    min-width: 100%;
    border: none;
    border-bottom: solid 1px $cor-bordas;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    text-rendering: optimizeLegibility;

    td, th {
        min-height: 30px;
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
        border-right: solid 1px $cor-bordas;
        white-space: nowrap;

        &:first-of-type {
            border-left: none;
        }
        
        &:last-of-type {
            border-right: none;
        }
    }

    th{
    background: white;
    border-bottom: solid 1px $cor-bordas;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: $cor-texto-topo-colunas;
    }

    td{
        color: $cor-textos;
        text-align: left;
    }

    tr{
        border-bottom: solid 1px $cor-bordas;

        &:nth-of-type(even) {
            background-color: $cor-zebrado-tabela-log;
        }
    }
}

//header fixo
.logtable table.tabelaEscravo{
  thead.topoEscravo{
    display: flex;
  
    tr#headerEscravo{
      width:100%;
      display: inline-flex;
      border-bottom: none;
      
      th{
        float:left;
        &:first-of-type{ border-left:none; margin-left: 1px; }
        border-bottom: none;
      }
    }
  
  }
}

//Ajuste do topo fixo no IE
.ajusteIE{
    margin-left: -1px;
}

//seleção de linhas
.logtable table tr{
    td{
        span.grey { color: $cor-textos; }
        span.red { color: $cor-destaque1; }
    }

    &.selected td{
        background-color: $cor-fundo-selecionados;
        color: $cor-texto-selecionados;
      
        //cores de texto
        span.grey { color: $cor-texto-selecionados; }
        span.red { color: $cor-destaque2; }
    }

}

app-dados-gerais {
  max-height: 100%;
  max-width: 100%;
}
  