.btn-novo {
    display: flex;
    align-items: center;
}

fs-1 {
    font-size: 15px;
    cursor: pointer;
}

.fs-2 {
    font-size: 28px;
    cursor: pointer;
}

.info-complementar {
    display: flex;
    align-items: center;
    color: #997f7f;
}

.consultar {
    margin-right: 13px;
}

.editar {
    margin-right: 28px;
}