<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Add this repository to the list of available repositories -->
        <add key="Oi.Juridico" value="http://estrategico-dev.interno/nuget/v3/index.json"  allowInsecureConnections="true"  />
    </packageSources>
</configuration>