.cursor{
  cursor: default;
  }

.combo-sap.flutuante-direita {
  height:18px;
  width: 250px;
  float: right;
  top: -50px;
  position: relative;
}

   .combo-sap h1{
     font-size: 12px !important;
     font-weight: bold;
     color: #786BB9;
   }

   .combo-sap.fornecedor h1{
    font-size: 12px !important;
    font-weight: bold;
    color: #555555;
  }

  .combo-sap.modais h1{
    margin-bottom: 3.2px;
    padding: 2px;
    font-size: 12px !important;
    font-weight: bold;
    color: #555555;
  }



  .ng-dropdown-panel-items .total-padding{
  height: auto !important;
}
.scrollable-content {
  position: initial !important;}
