<section class="header">
  <h3>Detalhes do consolidado de provisão de pagamentos trabalhistas por pedido (PO)</h3>
  <a class="botao" href="{{href}}/2.0/relatorios/fechamento/provisao/trabalhista/Relatorio.aspx?CodigoEmpresaCentralizadora={{CodigoEmpresaCentralizadora}}&DataFechamento={{DataFechamento}}&Meses={{Meses}}&Outlier={{Outlier}}&DataFechamentoAnterior={{DataFechamentoAnterior}}&MesesAnterior={{MesesAnterior}}&OutlierAnterior={{OutlierAnterior}}&FiltraCentralizadora={{FiltraCentralizadora}}"><i class="fa fa-angle-double-left"></i> Voltar</a>
  <p>Relatórios > Contigência > Trabalhista > Provisão Trabalhista por Média</p>
  <span style="padding-bottom: 5px;">
    <button class="botao" (click)="exportar()"><i class="fas fa-download pr-1"></i> Download</button>
  </span>
</section>

<section>
  <table class="cabecalhoGrid">
    <tr>
      <td class="tituloDadosHeader" style="width: 140px; padding-left:5px; padding-top: 10px;">
        Empresa centralizadora:
      </td>
      <td style="padding-left:5px; width: 37%; padding-top: 10px; font-size: 11px;">
        {{dadosCabecalho?.nomeEmpresaCentralizadora}}
      </td>
      <td class="tituloDadosHeader" style="width: 90px; padding-top: 10px;">
        Tipo de pedido:
      </td>
      <td style="width: 10%; padding-top: 10px; font-size: 11px;">
        {{dadosCabecalho?.proprioTerceiro | titlecase}}
      </td>
      <td class="tituloDadosHeader" style="width: 80px; padding-top: 10px;">
        Risco:
      </td>
      <td style="padding-top: 10px; font-size: 11px;">
        {{dadosCabecalho?.riscoPerda | titlecase}}
      </td>
    </tr>

    <tr>
      <td class="tituloDadosHeader" style="padding-left:5px; padding-bottom: 10px;">
        Empresa do Grupo:
      </td>
      <td style="padding-left:5px; padding-bottom: 10px; font-size: 11px;">
        {{dadosCabecalho?.nomeEmpresaGrupo}}
      </td>
      <td></td>
      <td></td>
      <td class="tituloDadosHeader" style="padding-bottom: 10px;">
        Fechamento:
      </td>
      <td style="padding-bottom: 10px; font-size: 11px;">
        {{dadosCabecalho?.dataFechamento | date : 'dd/MM/yyyy'}} - {{dadosCabecalho?.numeroMeses}} meses -
        {{dadosCabecalho?.tipoDeOutliers}}
      </td>
    </tr>
  </table>

  <div class="table-responsive-xl">
    <table class="table gridPrincipal">
      <tr>
        <th class="tituloGrid"
          style="min-width: 70px; max-width: 70px; position: sticky; left: -2px; background-color: white">
          Código do Pedido
        </th>
        <th class="tituloGrid"
          style="min-width: 265px; position: sticky; left: 67px; background-color: white; z-index: 1">
          Descrição do Pedido
        </th>
        <th class="tituloGrid" style="min-width: 130px">
          Percentual de Perda de Pedidos Histórico
          <span *ngIf="possuiHibrido == 'S'">(Pré/Híbrido)</span>
          <br>
          (G)
        </th>
        <th class="tituloGrid" style="min-width: 160px;">
          <a href="{{href}}/2.0/relatorios/fechamento/provisao/trabalhista/DetalheProvisaoTrabalhistaHistoricoPedido.aspx?CodigoItemFechamentoProvisao={{userId}}&CodigoPedido=0&DataFechamento={{DataFechamento}}&Meses={{Meses}}&Outlier={{Outlier}}&DataFechamentoAnterior={{DataFechamentoAnterior}}&MesesAnterior={{MesesAnterior}}&OutlierAnterior={{OutlierAnterior}}&FiltraCentralizadora={{FiltraCentralizadora}}&CodigoEmpresaCentralizadora={{CodigoEmpresaCentralizadora}}" class="novoLink">
            Valor Médio Desembolsado de Principal por Pedido PR
            <span *ngIf="possuiHibrido == 'S'">(Pré/Híbrido)</span>
            (R$)
            <br>
            (I1)
          </a>
        </th>
        <th class="tituloGrid" style="min-width: 160px;">
          <a href="{{href}}/2.0/relatorios/fechamento/provisao/trabalhista/DetalheProvisaoTrabalhistaHistoricoPedido.aspx?CodigoItemFechamentoProvisao={{userId}}&CodigoPedido=0&DataFechamento={{DataFechamento}}&Meses={{Meses}}&Outlier={{Outlier}}&DataFechamentoAnterior={{DataFechamentoAnterior}}&MesesAnterior={{MesesAnterior}}&OutlierAnterior={{OutlierAnterior}}&FiltraCentralizadora={{FiltraCentralizadora}}&CodigoEmpresaCentralizadora={{CodigoEmpresaCentralizadora}}" class="novoLink">
            Valor Médio Desembolsado de Correção e Juros por Pedido PR
            <span *ngIf="possuiHibrido == 'S'">(Pré/Híbrido)</span>
            (R$)
            <br>
            (I2)
          </a>
        </th>
        <th class="tituloGrid" style="min-width: 140px">
          Quantidade de Pedidos Ativos sem desembolso [PR]
          <span *ngIf="possuiHibrido == 'S'">(Pré/Híbrido)</span>
          <br>
          (Q)
        </th>
        <th class="tituloGrid" style="min-width: 140px;">
          Quantidade de Pedidos Não-Concluídos [PO]
          <span *ngIf="possuiHibrido == 'S'">(Pré)</span>
          <br>
          (K)
        </th>
        <th class="tituloGrid" style="min-width: 140px;">
          Quantidade de Pedidos Não-Concluídos [RE]
          <span *ngIf="possuiHibrido == 'S'">(Pré/Híbrido)</span>
          <br>
          (L)
        </th>
        <th class="tituloGrid" style="min-width: 210px;">
          Percentual de Perda de Pedidos Não-Concluídos [PO]
          <span *ngIf="possuiHibrido == 'S'">(Pré/Híbrido)</span>
          <br>
          (T = Q / (Q + L))
        </th>
        <th scope="col" class="tituloGrid" style="min-width: 200px;">
          Valor Principal da Provisão de Contingência de Pedidos Não-Concluídos [PO] 
          <span *ngIf="possuiHibrido == 'S'">(Pré)</span>
          (R$)
          <br>
          (P1 = G * I1 * K * T)
        </th>
        <th scope="col" class="tituloGrid" style="min-width: 200px;">
          Valor de Correção e Juros da Provisão de Contingência de Pedidos Não-Concluídos [PO] 
          <span *ngIf="possuiHibrido == 'S'">(Pré)</span>
          (R$)
          <br>
          (P2 = G * I2 * K * T)
        </th>
        <th *ngIf="possuiHibrido == 'S'" scope="col" class="tituloGrid" style="min-width: 200px;">
          Quantidade de Pedidos Não-Concluídos [PO] (Híbrido)
          <br>
          (R)
        </th>
        <th *ngIf="possuiHibrido == 'S'" scope="col" class="tituloGrid" style="min-width: 210px;">
          Percentual de Responsabilidade Oi (Híbrido)
          <br>
          (U)
        </th>
        <th *ngIf="possuiHibrido == 'S'" scope="col" class="tituloGrid" style="min-width: 210px;">
          Valor Principal da Provisão de Contingência de Pedidos Não-Concluídos [PO] (Híbrido) (R$)
          <br>
          (S1 = G * R * I1 * T * U)
        </th>
        <th *ngIf="possuiHibrido == 'S'" scope="col" class="tituloGrid" style="min-width: 210px;">
          Valor de Correção e Juros da Provisão de Contingência de Pedidos Não-Concluídos [PO] (Híbrido) (R$)
          <br>
          (S2 = G * R * I2 * T * U)
        </th>
        <th *ngIf="possuiHibrido == 'S'" scope="col" class="tituloGrid" style="min-width: 210px;">
          Total do Valor Principal da Provisão de Contingência de Pedidos Ativos sem desembolso (Pré/Híbrido) (R$)
          <br>
          (V1 = P1 + S1)
        </th>
        <th *ngIf="possuiHibrido == 'S'" scope="col" class="tituloGrid" style="min-width: 210px;">
          Total do Valor de Correção e Juros da Provisão de Contingência de Pedidos Ativos sem desembolso (Pré/Híbrido) (R$)
          <br>
          (V2 = P2 + S2)
        </th>

      </tr>
      <tr
        *ngFor="let dados of dadosDoPedido">
        <td class="dadosGrid"
          style="text-align: center; position: sticky; left: -2px; background-color: white; border: 1px solid #D2D2DA;">
          {{dados.pedCodPedido}}
        </td>
        <td class="dadosGrid"
          style="text-align: left; position: sticky; left: 67px; background-color: white; border: 1px solid #D2D2DA;">
          {{dados.nomePedido}}
        </td>
        <td class="dadosGrid">
          {{dados.percPerdaProvavel.toLocaleString(undefined, {minimumFractionDigits: 2})}}
        </td>
        <td class="dadosGrid">
          <button class="linkGrid" (click)="abrirPopUp(dados.pedCodPedido)">
            {{dados.valorMedioDesemPrincPr.toLocaleString(undefined, {minimumFractionDigits: 2})
            }}
          </button>
        </td>
        <td class="dadosGrid">
          <button class="linkGrid" (click)="abrirPopUp(dados.pedCodPedido)">
            {{dados.valorMedioDesemJurosPr.toLocaleString(undefined, {minimumFractionDigits:
            2})}}
          </button>
        </td>
        <td class="dadosGrid">
          {{dados.qtePedidosProvavel}}
        </td>
        <td class="dadosGrid">
          {{dados.qtePedidosPossivelP}}
        </td>
        <td class="dadosGrid">
          {{dados.qtePedidosRemoto}}
        </td>
        <td class="dadosGrid">
          {{dados.percPerdaPossivel.toLocaleString(undefined, {minimumFractionDigits: 2})}}
        </td>
        <td class="dadosGrid">
          {{dados.valProvContPrincipalP.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="dadosGrid">
          {{dados.valProvContJurosP.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="dadosGrid" *ngIf="possuiHibrido == 'S'">
          {{dados.qtePedidosPossivelH}}
        </td>
        <td class="dadosGrid" *ngIf="possuiHibrido == 'S'">
          {{dados.perResponsOi.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="dadosGrid" *ngIf="possuiHibrido == 'S'">
          {{dados.valProvContPrincipalH.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="dadosGrid" *ngIf="possuiHibrido == 'S'">
          {{dados.valProvContJurosH.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="dadosGrid" *ngIf="possuiHibrido == 'S'">
          {{dados.valProvContPrincipal.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="dadosGrid" *ngIf="possuiHibrido == 'S'">
          {{dados.valProvContJuros.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
      </tr>
      <tr>
        <td class="valorTotal" style="text-align: center; position: sticky; left: -2px; border: 1px solid #D2D2DA;">
        </td>
        <td class="valorTotal" style="text-align: center; position: sticky; left: 67px; border: 1px solid #D2D2DA;">
        </td>
        <td class="valorTotal"></td>
        <td class="valorTotal"></td>
        <td class="valorTotal"></td>
        <td class="valorTotal">{{dadosTotais?.qtePedidosProvavelP}}</td>
        <td class="valorTotal">{{dadosTotais?.qtePedidosPossivelP}}</td>
        <td class="valorTotal">{{dadosTotais?.qtePedidosRemotoP}}</td>
        <td class="valorTotal"></td>
        <td class="valorTotal">
          {{dadosTotais?.valorPrincipalPedidosPo.toLocaleString(undefined,
          {minimumFractionDigits: 2}) }}
        </td>
        <td class="valorTotal">
          {{dadosTotais?.valorCorrecaoJurosPo.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="valorTotal" *ngIf="possuiHibrido == 'S'">
          {{dadosTotais?.qtePedidosPossivelH.toLocaleString(undefined,
            {minimumFractionDigits: 0})}}
        </td>
        <td class="valorTotal" *ngIf="possuiHibrido == 'S'"></td>
        <td class="valorTotal" *ngIf="possuiHibrido == 'S'">
          {{dadosTotais?.valPriProvContPedNConH.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="valorTotal" *ngIf="possuiHibrido == 'S'">
          {{dadosTotais?.valJurProvContPedNConH.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="valorTotal" *ngIf="possuiHibrido == 'S'">
          {{dadosTotais?.totPrincProvContPedSDes.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
        <td class="valorTotal" *ngIf="possuiHibrido == 'S'">
          {{dadosTotais?.totJurProvContPedSDes.toLocaleString(undefined,
          {minimumFractionDigits: 2})}}
        </td>
      </tr>
    </table>
  </div>

  <div style="float: right; font-size: 11px; padding-top: 10px;">
    <span *ngIf="paginaAtual > 1">
      <span style="padding-right: 4px; cursor: pointer" (click)="primeiraPagina()">|<<</span>
          <span style="padding-right: 4px; cursor: pointer" (click)="paginaAnterior()">
            <<</span>
          </span>
          Página&nbsp;
          <input #i type="text" [disabled]="totalDePaginas == 1" inputmode="numeric" pattern="[0-9]*" maxlength="4"
            [value]="paginaAtual" (keyup.enter)="selecionarPagina(i.value)" (blur)="selecionarPagina(i.value)"
            (input)="formatInput($any($event).target)" aria-labelledby="paginationInputLabel paginationDescription"
            style="text-align: center; width: 40px; height: 17px;" />
          de {{totalDePaginas}}
          <span *ngIf="paginaAtual < totalDePaginas">
            <span style="padding-left: 4px; cursor: pointer" (click)="proximaPagina()">>></span>
            <span style="padding-left: 4px; cursor: pointer" (click)="ultimaPagina()">>>|</span>
          </span>
  </div>

</section>