<div class="row my-4" (keydown.enter)="buscar()">
  <div class="col-auto pr-2 mt-2">
      <span style=" font-weight: bold;">Eventos Dependentes</span>
  </div>
  <div class="col"></div>
  <div class="col-2"></div>

  <div class="col-auto">
      <button class="roxo-padrao adicionar" (click)="incluirAlterar()">
          <i class="fas fa-plus-circle fa-lg "></i> Incluir/Alterar  </button>
  </div>

</div>
<div class="mb-4">
  <sisjur-table (sort)="buscar()">
      <sisjur-table-header>
          <sisjur-table-header-cell sort="Descricao">Descrição</sisjur-table-header-cell>         
      </sisjur-table-header>

      <sisjur-table-row *ngFor="let item of datasource; let i = index">
          <sisjur-table-row-cell ellipsis="true">{{ item.nome}}</sisjur-table-row-cell>                   
      </sisjur-table-row>

  </sisjur-table>
</div>
<div class="mb-4" style="height: 30px;" >
  <span *ngIf="total <= 8" class="total">Total de registros: {{ total }} - Itens por página </span>
  <div style="position: absolute ; width: 95.5%; z-index: 999 !important;" [hidden]="total <= 8">
      <sisjur-paginator [length]="total" (page)="buscar()"></sisjur-paginator>
  </div>
</div>