.modal-container {
    // width: 600px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin: 0;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      color: #666;
    }
    .close-button {
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
  
  .filter-form {
    display: flex;
    justify-content: space-between;
    .filter-group {
      display: flex;
      align-items: center;
      label {
        margin-right: 5px;
      }
      input, select {
        margin-right: 10px;
      }
    }
  }
  
  .exportacoes-list {
    margin-top: 2px;

    
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        // border-bottom: 1px solid #eee;
        .agendado {
          color: #6151ac;
          
        }
        .finalizado {
          color: #6151ac;
        }
        .erro {
          color: #ff0000;          
        }
        .processando{
          color: #6151ac;
        }
        button {
          background: none;
          border: none;
          cursor: pointer;
          i {
            font-size: 16px;
            color: #666;
          }
        }
      }
    }
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    button {
      background-color: #6e6e6e;
      border: none;
      color: white;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 4px;
    }
  }


  .exportacoes-list {
    border: 1px solid #cccc;
    padding-left: 5px;
    padding-right: 5px;
}


  .form-control {
    width: 100px;
  }

  .datas-vencimento .form-control {
    width: 80px; 
  }

  .form-group.col-md-6.inputs {
    margin-right: 30px;
}
  