<style>
    .modal-header button {
      color: gray;
    }

    .modal-title {
      margin: auto;
      padding-left:0px;
    }

    .btn-icon {
      font-size: 18px;
    }
  </style>


  <div id="modal-sm-lg">
  <div class="modal-header">
    <span *ngIf="!cotacao" class="modal-title">Importação de Cotações Trabalhistas</span>
    <button type="button" class="btn btn-icon mr-0" (click)="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div [formGroup]="formGroup" class="modal-body pt-0">
    
      <div class="row">
        <div class="col-3">
          <label class="col-form-label-sm font-weight-bold">
            Data de Correção:
           </label>
           <br>
             <mes-ano-new id="dataSelecionada"  [control]="dataSelecionadaFormControl" [disabled]="dataSelecionadaFormControl.disabled" ></mes-ano-new>
        </div>
        <div class="col-9">
          <span><b>Arquivo para importação:</b></span>
          <div class="d-flex">
            <input type="file" style="display: none" (change)="aoAdicionarArquivo()" #arquivo />
            <input type="text"style="width:390px;" id="percentuais-atm" class="form-control col-9"  placeholder="Nenhum arquivo selecionado"
              [formControl]="nomeArquivoFormControl" readonly />
            <div class="col-3">
              <button type="button" (click)="arquivo.click()" class="btn btn-primary ml-1"
                style="width: 100px; display: flex; align-items: center; justify-content: center;float:right;">
                 Selecionar
              </button>
            </div>
          </div>
          <div class="col-12 pt-1 pl-0">
            
              <span class="roxo-padrao" style="font-size:12px;">Carregue um arquivo .csv, de até {{ParametroTamanhoMaximoMsg}} MB.  </span>
            
          </div>
        </div>
      
      </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" aria-label="Close" (click)="close()">Cancelar</button>
    <button type="button" class="btn btn-primary" style="margin-right:6px;width: 100px;" [disabled]="arquivoCsv !== null ? false : true"
      (click)="save()">Confirmar</button>
  </div>
</div>
