.modal-header button {
    color: gray;
}

.modal-title {
    margin: auto;
}

.btn-icon {
    font-size: 18px;
}

.container-modal {
    padding: 1.2rem 0.5rem;
}

.modal-footer {
    padding-bottom: 0;
}

.title {
    padding: 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.periodoRef {
    display: flex;
    flex-direction: column;
}

.form-control-select {
    padding: 0;
    border: none;
}

::ng-deep {

    bs-datepicker-container,
    bs-daterangepicker-container {
        z-index: 20000;
    }
}

::ng-deep .modal-contribuicao  {
  
    .modal-content {
        min-width: 740 !important;
        max-width: 740 !important;
    }
    
    .modal-sm {
        min-width: 740 !important;
        max-width: 740 !important;
    }
    }