.pg-interna {
  padding-bottom: 10px;
  font-size: 0.8rem;

  h1 {
    font-size: 24px;
    color: #554d80;
    line-height: 0.9;
    letter-spacing: 0.2px;
  }

  h4 {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.12px;
    color: #554d80;
  }

  h6 {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.12px;
    color: #525267;
  }
}

.btn-voltar {
  float: right;
  margin-top: 20px;
}

.btn-incluir {
  float: right;
  color: #786BB9 !important;
  cursor: pointer;
}

.btn-add-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}


