.btn-roxo {
  display: inline-block;
  font-size: 12px;
  color: #786bb9;
  font-family: Roboto;

}

.scroll-parametros{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 210px;
}

label{padding: 0; margin: 0;}
