<form [formGroup]='form'>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 pl-0">
                <label for="fornecedorSap">
          Nome Fornecedor:
        </label>
                <br>
                <input class="form-control" type="search" formControlName="nome" maxlength="100" StartWithSpace>
            </div>
            <div class="col-3">
                <label for="fornecedorSap">
          Código Fornecedor SAP:
        </label>
                <br>
                <input class="form-control" type="search" formControlName="codigo" maxlength="10">
            </div>
            <div class="col-2">
                <label for="fornecedorSap">
          CNPJ:
        </label>
        <br>
        <input class="form-control" type="search" formControlName="cnpj" maxlength="18"
        rInputMask="99.999.999/9999-99"
        >
      </div>
      <div class="col-3">
        <label>Status do Fornecedor:</label>
        <br>
        <div class="d-flex mt-1">
          <div class="d-flex align-items-center mr-2">
            <input type="radio" id="ativo" class="mr-1" value= "1"formControlName="statusFornecedor">
            <label for="ativo" class="p-0 m-0">Ativo</label>
          </div>
          <div class="d-flex align-items-center mr-2">
            <input type="radio" id="inativo" class="mr-1" value= "2" formControlName="statusFornecedor">
            <label for="inativo" class="p-0 m-0">Inativo</label>
          </div>
          <div class="d-flex align-items-center">
            <input type="radio" id="ambos" class="mr-1" value= "3" formControlName="statusFornecedor">
            <label for="ambos" class="p-0 m-0">Ambos</label>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex align-items-end justify-content-center p-0">
        <button class="btn btn-primary" (click)="buscar()">Buscar</button>
      </div>
    </div>
  </div>
</form>
