::ng-deep .modal-carregar-bloco {
    .modal-content {
      min-width: 570px !important;
      max-width: 571px !important;
    }
    .modal-sm {
      min-width: 570px !important;
      max-width: 571px !important;
    }
  }