.modal-title{
    font-size: 15px;
    font-weight: bold;
}

.inputs { 
    margin-top: 20px;
}

.checkbox-direita {
    margin-top: 2.5rem;
    padding-left: 0;
}

::ng-deep{    
    .modal-preposto {
        .modal-dialog {
            min-width: 600px!important;
            max-width: 600px!important;
            min-height: 600px !important;
        }
    }
}

.link-todos {
    cursor:pointer;
    color: #6151ac;

}
