<app-manutencao-generica (aoClicarNovoRegistro)="incluir()" titulo="Complemento Área Envolvida"
  [breadcrump]="breadcrumb" [exibirAdicionar]="exibirTabela">
  <br>
  <div class="row">
    <div class="col-12 py-3">
    </div>
  </div>
  <div class="row" (keydown.enter)="buscarTabela()" style="margin-left: auto;">
    <div class="d-flex pr-1 " >
      <div style="width: 25rem;">
        <label for="tipos-processo"> <b>Tipos de Processos:</b> </label>
        <ng-select
        [ngStyle]="{'fontSize': '11px'}"
        [items]="tiposProcesso"
        bindLabel="descricao"
        bindValue="id"
        [formControl] = "tipoProcessoFormControl"
        appearance="outline"
        notFoundText="Nenhuma opção disponível"
        [searchable]="false"
        [clearable]="false"
        (change)="selecionarTipoProcesso()"
        [placeholder]="'Selecione o tipo de processo'"></ng-select>
      </div>

      <div class="ml-3" style="width: 25rem;" *ngIf="exibirTabela">
        <label for="descricao"> <b>Descrição:</b>  </label>
        <input type="search" (search)="onClearInputPesquisar()" class="form-control mr-2"
          [formControl] = "buscarDescricaoFormControl"
          placeholder="Entre com o texto da descrição ou parte dele"
          maxlength="100">
      </div>

      <div class="ml-3" [ngStyle]="{ marginTop: '0.3rem' }" style="align-self: flex-end" *ngIf="exibirTabela">
        <button type="button" class="btn btn-primary"  (click)="buscarTabela()">Buscar</button>
      </div>
    </div>
  </div>

  <div class="mt-4 row" [class.ocultaElementos]= "!exibirTabela" >
    <div class="col-sm-6" style="align-self: flex-end;">
      <b class="roxo-padrao" style="font-size: 15px;" >Complementos</b>
    </div>

    <div class="col-sm-6" style="text-align: right;">
      <button class="btn btn-roxo pr-1 pb-0" (click)="exportar()" >
        <i class="fas fa-download pr-1 " style="font-size:15px; cursor: pointer !important; font: roboto;"></i>
        Exportar
      </button>
    </div>
  </div>

  <div *ngIf= "exibirTabela">
  <jur-table  [sortDirection] = "'asc'" (sort) ="buscarTabela()"   [sortColumn] = "'nome'" [dataSource]="dataSource">

    <jur-column-template flex="11" headerName="Código" sortColumn="id" *jurRowData="let row">
      <span>{{ row.id }}</span>
    </jur-column-template>

    <jur-column-template flex="50" headerName="Nome" sortColumn="nome" *jurRowData="let row" >
        <span style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;" title="{{row.descricao}}" fxFlex>{{ row.nome }} </span>
    </jur-column-template>

    <jur-column-template flex="10" headerName="Ativo" sortColumn="ativo" *jurRowData="let row">
        <span *ngIf="row.ativo">Sim</span>
        <span *ngIf="!row.ativo">Não</span>
      </jur-column-template>


    <jur-column-template flex="20" headerName="Tipo de Processo" sortColumn="tipoDeProcesso" *jurRowData="let row">
      <span>{{ row.tipoProcesso? row.tipoProcesso.nome : '' }}</span>
    </jur-column-template>

    <jur-column-template *jurRowData="let row">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button type="button" class="btn btn-icon" (click)="alterar(row)">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-icon" (click)="excluir(row)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </jur-column-template>
  </jur-table>

  <jur-paginator [length]="total" (page)="buscarTabela()"></jur-paginator>
</div>

</app-manutencao-generica>
