
      <ngb-pagination [collectionSize]="totalRegistro" style="float:right;"
       [(page)]="currentPage" [pageSize]="pageMax" [maxSize]="4" [boundaryLinks]="true"
       (pageChange)="onPageChange()"
       [rotate]="true" [ellipses]="false" >
       <ng-template ngbPaginationFirst>Primeira</ng-template>
        <ng-template ngbPaginationLast>Última</ng-template>
        <ng-template ngbPaginationPrevious>Anterior</ng-template>
        <ng-template ngbPaginationNext>Próxima</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template></ngb-pagination>
