<app-container-pagina  [titulo]="'Importação e Consulta do Arquivo de Retorno'" (voltou)="manterDados()"
  [caminho]="'SAP > Interface BB > Importação e Consulta do Arquivo de Retorno'" textoRota="Voltar" 
  rota="/sap/interfaceBB/importacao/consulta/criteriosGeraisGuia" >
  <div class="header-container d-flex mt-4 justify-content-between align-items-end">
    <span class="d-flex align-items-center tituloArqEncontrado">
      Arquivos Encontrados
    </span>
    <div>
      <button class="btn btn-roxo text-align-right pr-0 pb-0" (click)="exportar()">
        <i class="fa fa-download"></i> Exportar
      </button>
    </div>
  </div>
  <app-card-container  *ngFor="let resultado of resultadosArquivoRetorno"
  [cardId]="resultado" (clicked)="onCardClick($event)" style="cursor: pointer;">
    <div class="corpoCardContainer" style="width: 100%;">
      <div class="row m-1">
        <div class="p-0 col-12">
          <div class="align-self-start title">
            <b>
              {{resultado.tipoProcesso}} - {{resultado.numeroLoteBB}} - {{resultado.status}}
            </b>
          </div>
        </div>
      </div>
      <div class="row pt-1 m-1">
        <div class="p-0 col-4">
          <div class="align-self-start valores">Data da remessa: {{resultado.dataRemessa}}</div>
        </div>
        <div class="p-0 col-4">
          <div class="align-self-start valores pad">Qtd de Registros do Arquivo: {{resultado.quantidadeRegistrosArquivo
            | number:'1.0'}}</div>
             </div>
        <div class="p-0 col-4">
          <div class="align-self-start valores pad">Valor Total da Remessa: {{resultado.valorTotalRemessa
            |  currency: "BRL":'':"1.2-2":"pt"}}</div>
        </div>
      </div>
      <div class="row pt-1 m-1">
        <div class="p-0 col-4">
          <div class="align-self-start valores">Data Processamento da remessa: {{resultado.dataProcessamentoRemessa}}</div>
        </div>


        <div class="p-0 col-4">
          <div class="align-self-start valores pad">Qtd Registros Processados: {{resultado.quantidadeRegistrosProcessados
            | number:'1.0'}}</div>
        </div>

        <div class="p-0 col-4">
          <div class="align-self-start valores pad">Valor Total Processado: {{resultado.valorTotalGuiaProcessada |
            currency: "BRL":'':"1.2-2":"pt"}}</div>
        </div>
      </div>


    </div>
  </app-card-container>
  <div class="verMaisContainer" *ngIf="verMais">
    <a (click)="carregarMais()" class="vermais" >
      <b>VER MAIS</b>
    </a>
  </div>

</app-container-pagina>
