<section class="container-breadcrumb">
  <h3>Provisão Trabalhista por Média</h3>
  <a class="link-primary" style="cursor: pointer; float:right" href="/n/#/relatorio/contingencia/trabalhista/provisao-trabalhista-por-media">
    << Voltar </a>
      <p>Relatórios > Contingência > Trabalhista > Provisão Trabalhista por Média</p>
      <p style="color: #786bb9;">Todas as informações referentes ao Outliers e seus relatórios serão disponibilizados no download.</p>
</section>

<section>
  <div style="margin-bottom: 10px;">
    <span>
      <a class="link-primary" style="cursor: pointer" (click)="openModal()"><i class="fas fa-search icone-busca"></i> Parâmetros de Consulta</a>      
    </span>
    
    <span style="cursor: pointer; float:right">
      <a href="#">Download Todos</a>
    </span>
  </div>
  
  <span *ngIf="modalBool == true">
    <div>
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Aliquam, sunt.
    </div>
  </span>
  
  <div>
    <td class="empresas">
      <span class="titulo">SEREDE</span>
      <span>
        <button class="expandir">+</button>
      </span>
    </td>
  </div>
 
</section>