::ng-deep {
    .modal-content {
        min-width: 370px!important;
        max-width: 371px!important;
    }
    .modal-sm {
        min-width: 370px!important;
        max-width: 371px!important;
    }
}