<div id="GlobalSite" class="container">
  <div class="mb-3" style="overflow: hidden;">
    <div class="pull-left">
      <h1>Grupo de Empresa Contábil SAP</h1>
      <h6 style="font-size: 12px; color: #555555;">{{breadcrumb}}</h6>
    </div>
  </div>
  <div class="container pl-0 pr-0">
    <div class="row">
      <div class="col-6">
        <div class="container">
          <div class="row">
            <div class="col-7 pl-1">
              <h3 style="font-size: 15px;">Grupo Empresas Contábeis SAP</h3>
            </div>
          </div>
        </div>
        <div class="box-componente">
          <div class="card" style="width: auto; height: 178px;">
            <div class="card-header" id="crudRow">
              <span class="iconsHover mr-2" data-toggle="modal" data-target="#modalCadastraGrupo">
                <i class="fas fa-plus-circle roxo-padrao" id="adicionar-icon"></i>
                <span style="color:  #222; font-size: 12px;">
                  Adicionar
                </span>
              </span>
              <span class="iconsHover mr-2" [class.disabled]="selectedIndex === null" (click)="carregaDadosGrupo();"
                data-toggle="modal" data-target="#modalEditaGrupo">
                <i class="fas fa-edit roxo-padrao"></i>
                Editar
              </span>
              <span class="iconsHover" [class.disabled]="selectedIndex === null" (mousedown)="removerGrupo()">
                <i class="fas fa-trash roxo-padrao"></i>
                Remover
              </span>
            </div>
            <div class="card-header" id="nomeColuna">
              <div class="row">
                <div class="col-9">Nome</div>
                <div class="col-3">Recuperanda</div>
              </div>
            </div>
            <div style="overflow-y: auto; height: 110px;" id="gridGrupos">
              <ul class="list-group list-group-flush">
                <li *ngFor="let grupo of grupos; let i = index">
                  <div class="destaque-editado"
                    *ngIf="!grupo.persistido || (grupo && (grupo.nome !== grupo.nomeAnterior || grupo.recuperanda !== grupo.recuperandaAnterior))">
                    <svg height="10" width="10">
                      <polygon points="0,0 10,0 0,10" style="fill:red;stroke:none;stroke-width:0" />
                    </svg>
                  </div>

                  <div class="list-group-item list-group-item-action col-12" name='divGrupo'
                    style="cursor: pointer; border:none;" href="#" data-toggle="list" [class.editando]="editandoGrupo"
                    [ngClass]="{'selected':selectedIndex === i && editandoGrupo}" n
                    (click)="carregarEmpresasGrupo(grupo.id, grupo.nome); linhaSelecionada(i, grupo)">

                    <label class="col-9" style="cursor: pointer;">{{ grupo.nome }}</label>

                    <i style="display: initial; padding-left: 50px; " *ngIf="grupo.recuperanda; else other_content"
                      class="fas fa-check col-3" data-toggle="list" [class.editando]="editandoGrupo"
                      [ngClass]="{'selected':selectedIndex === i && editandoGrupo}" n
                      (click)="carregarEmpresasGrupo(grupo.id, grupo.nome); linhaSelecionada(i, grupo)"></i>
                    <ng-template #other_content>

                      <i style="display: initial; padding-left: 50px;" class="fas fa-ban col-3" data-toggle="list"
                        [class.editando]="editandoGrupo" [ngClass]="{'selected':selectedIndex === i && editandoGrupo}" n
                        (click)="carregarEmpresasGrupo(grupo.id, grupo.nome); linhaSelecionada(i, grupo)"></i>
                    </ng-template>
                  </div>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="container">
          <div class="row">
            <div class="col-6 pl-1">
              <h3 style="font-size: 15px;">Empresas do Grupo</h3>
            </div>
          </div>
        </div>
        <div [class.borda-selecao]="removendoEmpresa" class="box-componente">
          <div class="card" style="width: auto;  height: 178px;">
            <div class="card-header" id="crudRow">
              <div class="iconsHover" [class.disabled]="selectedIndex === null" (click)="habilitaAdicionarEmpresas()">
                <i class="fas fa-plus-circle roxo-padrao" id="adicionar-icon"></i>
                Adicionar
              </div>
              <span class="iconsHover" [class.disabled]="selectedIndex === null" (click)="habilitaRemoverEmpresas()">
                <i class="fas fa-trash roxo-padrao pl-2"></i>
                Remover
              </span>
              <span class="iconsHover" style="float:right;" data-toggle="modal" data-target="#modalBuscaGrupos">
                <i class="fas fa-search roxo-padrao" (click)="limparBuscaGrupoPorEmpresa()"></i>
              </span>
            </div>
            <div class="card-header" id="nomeColuna">
              Nome
            </div>
            <div style="overflow-y: auto; height: 110px; padding-top: 0;" id="gridEmpresas">
              <ul class="list-group list-group-flush">
                <li *ngFor="let empgrupo of empresasGrupo;">
                  <div class="destaque-editado" *ngIf="!empgrupo.persistido">
                    <svg height="10" width="10">
                      <polygon points="0,0 10,0 0,10" style="fill:red;stroke:none;stroke-width:0" />
                    </svg>
                  </div>
                  <button type="button" class="list-group-item list-group-item-action" [disabled]="!removendoEmpresa"
                    (click)="removerEmpresa(empgrupo)">{{ empgrupo.nome }}</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row">
            <div class="col-6 pl-1">
              <h3 style="font-size: 15px;">Empresas Disponíveis</h3>
            </div>
          </div>
        </div>
        <div [class.borda-selecao]="adicionandoEmpresa" class="box-componente" style="height: 250px;">
          <div class="card" style="width: auto; height: 247px;">
            <span class="card-header" id="nomeColuna">
              Nome
            </span>
            <span id="nomeColuna" style="padding-left: 0px; padding-bottom: 30px;">
              <input class="form-control" style="border-top: 0px; border-left: 0px; border-right: 0px;" type="text"
                [(ngModel)]="nomeEmpresaFiltro" placeholder="Pesquisar empresa por nome..">
            </span>
            <div style="overflow-y: auto; height: 180px;">
              <ul>
                <li class="list-group list-group-flush"
                  *ngFor="let empresa of empresasDisponiveis | appFiltroBusca: nomeEmpresaFiltro">
                  <button type="button" (click)="adicionarNovaEmpresa(empresa)" [disabled]="!adicionandoEmpresa"
                    class="list-group-item list-group-item-action">{{ empresa.nome }}</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="mb-3" style="overflow: hidden;">
      <div data-toggle="modal" data-target="#modalAgendamentosSalvos" class="pull-right btns-acoes ml-3">
        <button type="button" class="btn btn-primary ml-3 pull-left" (click)="exportar()">Exportar</button>
        <button type="button" id="cancelar" class="btn btn-primary ml-3 pull-left"
          (mousedown)="desfazerAlteracoes()">Cancelar</button>
        <button type="button" class="btn btn-primary ml-3 pull-left"
          (click)="salvar('Cadastro realizado com sucesso')">Salvar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Busca de Grupos por empresa -->
<div class="modal fade" id="modalBuscaGrupos" tabindex="-1" data-keyboard="true" role="dialog"
  aria-labelledby="descricaoModalBusca" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descricaoModalBusca">Localizar Empresas Associadas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="nomeColuna" style="padding-left: 0px; padding-right: 30px; padding-bottom: 30px;">
          <input class="form-control" style="border: none;" type="text" [(ngModel)]="nomeEmpresaFiltroBusca"
            placeholder="Pesquisar grupo por empresa..">
        </span>
        <div style="overflow-y: auto; height: 180px;">
          <ul>
            <li class="list-group list-group-flush"
              *ngFor="let grupo of grupos | appFiltroBuscaEmpresa: nomeEmpresaFiltroBusca">
              <button type="text" disabled class="list-group-item list-group-item-action">{{ grupo.nome }}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Cadastro de Grupos -->
<div class="modal fade" id="modalCadastraGrupo" tabindex="-1" data-keyboard="true" role="dialog"
  aria-labelledby="descricaoModalBusca" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descricaoModalBusca">Cadastrar novo grupo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #modalNovoGrupo>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="nomeColuna" style="padding-left: 0px; padding-right: 30px; padding-bottom: 30px;">
          <input id="nomeEmpresa2" [(ngModel)]="nomeGrupoAdcionado" class="form-control"
            style="border: none; font-size: 12px;" type="text"
            style="height: 36px; margin-right: 5px; margin-left: 2px;" #inputNovoGrupo placeholder="Nome do grupo">
          <br />
          <input type="checkbox" [(ngModel)]="empresaRecuperandaAdcionada"
            style="vertical-align: text-top; margin: 0px 10px 0px 4px;"> <span>Recuperanda</span>
          <button type="button" class="btn btn-primary ml-3 pull-left" style="float: right;"
            (click)="adicionarNovoGrupo(nomeGrupoAdcionado, empresaRecuperandaAdcionada)">Confirmar</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Edição de Grupos -->
<div class="modal fade" id="modalEditaGrupo" tabindex="-1" data-keyboard="true" role="dialog"
  aria-labelledby="descricaoModalBusca" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descricaoModalBusca">Editar grupo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #modalEditaGrupo>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="nomeColuna" style="padding-left: 0px; padding-right: 30px; padding-bottom: 30px;">
          <input id="nomeEmpresa2" [(ngModel)]="nomeGrupoEditado" class="form-control"
            style="border: none; font-size: 12px;" type="text"
            style="height: 36px; margin-right: 5px; margin-left: 2px;" #inputNovoGrupo placeholder="Nome do grupo">
          <br />
          <input type="checkbox" [(ngModel)]="empresaRecuperandaEditada"
            style="vertical-align: text-top; margin: 0px 10px 0px 4px;"> <span>Recuperanda</span>
          <button type="button" class="btn btn-primary ml-3 pull-left" style="float: right;"
            (click)="editarNomeGrupo(nomeGrupoEditado, empresaRecuperandaEditada)">Confirmar</button>
        </span>
      </div>
    </div>
  </div>
</div>
