.modal-title{
    font-size: 15px;
    font-weight: bold;
}

.inputs { 
    margin-top: 20px;
}
::ng-deep {
    .modal-content {
        min-width: 370px!important;
        max-width: 371px!important;
    }
    .modal-sm {
        min-width: 370px!important;
        max-width: 371px!important;
    }
}