.page{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 72%;
}

.container-breadcrumb{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.table{
    border: solid 1px #e0e3e7;
}

.table-escritorio{
    background-color: #fff !important;
    border: solid 1px #e0e3e7;
}

.fa-paperclip{
    cursor:pointer; 
    font-size: 16px; 
    transform: rotate(-45deg) !important
}