hr {
  border: 1px solid  #D2D2DA ;}
.roxo-padrao2 {
  color:#6f62b2;
}
.margin{
  margin-right: 53px;
  margin-top: 20px;
}

.roxo-padrao{
  color:#786bb9;
  cursor: pointer;
}

.selected {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.12px;
  text-align: left;
  color: #ffffff;
  background-color: #786bb9 !important;
}

label{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #554d80;
}
.title{
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #554d80;

}

.overflow-hidden {
  white-space: nowrap;
  overflow: hidden;
}

.overflow-scroll {
  overflow-x: scroll;
}
.warning-lancamento{
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #9597a6;
}

.divWarn{
padding: 16px 0;
}

.selected {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.12px;
  text-align: left;
  color: #ffffff;
  background-color: #786bb9 !important;
}

.table-item {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.12px;
  text-align: left;
}

tr:nth-child(odd){
  background-color:
  #f6f6f8;
}


label{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #554d80;
}

.text-limit {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}
