
::ng-deep {
  .estados-modal{
      .modal-content {
          max-width: 341px;
          min-width: 325px;
          padding-left: 16px;
          min-height: 285px;
          margin-left: 82px;
      }

  }
}
