.descricao {
    margin-top: 4px;
}

.tagServico {
  background-color: #5d4bb8;
  color: #fff;
  padding: 4px 6px;
  font-weight: normal;
  border-radius: 2px;
  line-height: 16px;
  height: 24px;
  margin: 5px;
}

.tagDocumento {
  background-color: #988eca;
  color: #fff;
  padding: 4px 6px;
  font-weight: normal;
  border-radius: 2px;
  line-height: 16px;
  height: 24px;
  margin: 5px;
}

.btn-roxo{
  color: #786bb9;
  font-family: Roboto, sans-serif;
}