<!-- Titulo da pagina e o breadcrumb -->

<section class="container-breadcrumb">
    <button *ngIf="!logUsuario" class="botaoDeVoltar" onClick="history.go(-1)">
        <i class="fas fa-angle-double-left"></i> Voltar
    </button>
    <h3>{{ tituloPagina }}</h3>
    <p>{{ caminhoPagina }}</p>
    <p class="filtroSapSelecao"></p>
</section>

<!--linha de dados do processo mostrada no topo-->
<div class="log-dados-topo">
    <div class="log-info-processo" *ngIf="ultimaOperacao != null">
        Processo: {{ultimaOperacao.nroProcessoCartorioD}} - {{ultimaOperacao.codEstadoD}} - {{ultimaOperacao.nomParteOrgaoD}}
        - Última operação: {{ultimaOperacao.operacao}} - feito por {{ultimaOperacao.nomeUsuarioLog}} ({{ultimaOperacao.codUsuarioLog}}) em {{data}} às {{hora}}
    </div>
</div>
<!-- Menu Lateral -->
<div class="log_conteudo_geral">
    <div class="log_menu">
        <div class="btMenuLog" *ngFor="let item of itensMenu" 
            [ngClass]="
            {   'btMenuLog selected' : item.selecionado || item.subItens && subMenuSelecionado,
                'btMenuLog unselected' : !item.selecionado && item.subItens && !subMenuSelecionado
            }">

            <span  *ngIf="!item.subItens" class="titulo" (click)="selecionarMenuLateral(item.id)">
                <div class="iconLine" [id]="item.nav">
                    <div class="logIcon {{ item.icone }}"></div>
                    <div class="multiline">{{item.titulo}}</div>
                </div>
            </span>

            <span *ngIf="item.subItens" class="titulo">
                <div class="iconLine" [id]="item.titulo">
                    <div class="logIcon {{ item.icone }}"></div>
                    <div class="multiline">{{item.titulo}}</div>
                </div>
            </span>

            <div class="subItens">
                <div *ngFor="let sub of item.subItens" [ngClass]="sub.selecionado ? 'subItem selected':'subItem'"
                    (click)="selecionarSubMenu(sub.id, item)">
                    <span>
                        <div class="bullet"></div>
                        {{sub.titulo}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div style="position: relative;" class="log_conteudo fixedHeader" (scroll)="scrollTable()" id="painelTabelas">
        <div class="sem-dados-log" *ngIf="msgLogTabela"><span>Não existem registros de log</span></div>
        <span *ngIf="!msgLogTabela" class="logtable">
            <table class="tabelaEscravo" id="tabelaEscravo" [ngClass]="{'ajusteIE':isIE}" [ngStyle]="{'position':'absolute', 'left':'0px','top': valorScroll + 'px', 'opacity' : opacidadeHeader}">
                <thead class="topoEscravo">
                    <tr id="headerEscravo">
                        <th *ngFor="let cabecalho of cabecalhoTabela"> {{cabecalho.nome}}</th>
                    </tr>
                </thead>
            </table>
            <table id="tabelaMestre">
               <thead>
                    <tr id="headerMestre">
                       <th *ngFor="let cabecalho of cabecalhoTabela"> {{cabecalho.nome}} </th>
                   </tr>
               </thead>
               <tbody (load)="pegarLarguras();">
                   <tr *ngFor="let itemLista of dadosTabela, let i = index" (click)="selecionarLinha(i)" [class.selected]="i == selectedRow">
                       <td *ngFor="let item of cabecalhoTabela"> 
                           <span [class] = "vermelho(itemLista, item.prop)">{{itemLista[item.prop]}} </span>  
                       </td>
                   </tr>
               </tbody>
           </table>
        </span> 
    </div>
</div>

<div class="log-place-buttons"><button class="btn btn-primary btn-sm" (click)="exportarLog()">Exportar Log</button></div>






   
   