
.title {
  color: #554D80;
  font-size: 14px;
  opacity: 0.85;
}


.valores {
 color: #555555 ;

}

.tituloArqEncontrado{
  font-size: 15px;
  color: #554D80;
  font-family: Roboto;
  font-weight: bold;
}


.tabela-border{
  border: 1px solid #dbdbdb;
  padding: 23px;
}

hr{
  margin: 7px;
}

.overflow-hidden {
  white-space: nowrap;
  overflow: hidden;
}

.overflow-scroll {
  overflow:auto;
}


.selected {
  background-color: #786bb9;
  color: white;
}

.table-item {
  cursor: pointer;
}

.desabilitado{
  opacity: 0.5;
  cursor: default;
}

.imgguia {
  cursor: pointer;
}


.sm-parametros p {
  text-align: center;
  color: #9597a6;
  font-size: 14px;
}
.sm-parametros p span {
  font-size: 11px;
}

.verMais {
  cursor: pointer;
  text-align: center;
  color: #877cc1;
  padding: 10px;
}

.verMais b {
  color: #877cc1;
}

.letrasTooltip{

  font-family: Roboto;
  font-size: 12px;
  color: #555555;
  white-space: nowrap;
}


.infoTabela{
  font-weight: bold;
  color: #555555;
  font-family: Roboto;
font-size: 12px;
}