.content-popover {
  min-width: 600px;
  max-width: 720px !important;
}

.label-lilas {
  color: #786BB9;
  font-size: 0.95rem;
}

.ngx-select__selected-plural span {
  font-size: 11px;
  color: #fdfdfd;
}

.lista-container {
  height: 280px;
  overflow-x: auto;
  border: 2px solid rgb(219, 219, 219);
  box-sizing: border-box;
}

.icon-link {
  cursor: pointer;
}

.table-bordered {
  width: 100%;
}

#tabela-scroll {
  overflow-x: scroll;
  margin-bottom: 20px;
}

.th-fixed-width {
  thead {
   th {
    min-width: 220px !important;
   }
  }
  // thead {
  //  th {
  //   /*font-size: 11px !important;*/
  //   min-width: 220px !important;
  //  }
  // }
}

input[type=text]::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}

.ngx-select__item_active { background-color: #786BB9!important; }
.ngx-select__item_active:hover { background-color: #786BB9!important; color: #FFF!important; }
.ngx-select__selected-single { text-transform: uppercase!important; }

b {
  font-size: 12px;
}
