button{
  height: 25px;
  position: relative;
}

i.down{
  font-size: 14px;
    margin: 0;
    position: absolute;
    top: 1px;
}
i.up{
  font-size: 14px;
    margin: 0;
    position: absolute;
    top: 7px;
}
i.ambos{
  font-size: 14px;
  margin: 0;
  position: absolute;
  top: 3px;
}
