

<div bsModal #template="bs-modal" style="height: 1500;" tabindex="-1" role="dialog"
aria-labelledby="dialog-sizes-name1" [config]="{backdrop: 'static'}">
<div>
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left p-0">{{titulo}} Comarca BB</h4>
      <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body height-fix">
      <form [formGroup]="registerForm">
        <div class="form-row mb-3">
          <div class="col-8">
            <label for="codigoBB">Comarca BB:</label> <br>
            <input id="codigoBB" class="width form-control" maxlength="9"
            formControlName="codigoBB"
            [ngClass]="{'is-invalid': registerForm.get('codigoBB').errors && registerForm.get('codigoBB').touched}"
            [ngbTooltip]="validacaoTextos('codigoBB', 'Comarca BB', true)"
            tooltipClass="erroTooltip" OnlyNumberNoStartWith0>
          </div>
          <div class="col-2">
            <label for="codigoEstado">UF:</label> <br>
            <input id="codigoEstado" class="width form-control" maxlength="2"
            formControlName="codigoEstado"
            [ngClass]="{'is-invalid': registerForm.get('codigoEstado').errors && registerForm.get('codigoEstado').touched}"
            [ngbTooltip]="validacaoTextos('codigoEstado', 'UF', true)"
            tooltipClass="erroTooltip" oninput="this.value = this.value.toUpperCase()"
            StartWithSpace>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-8">
            <label for="descricao">Descrição:</label> <br>
            <input id="descricao" class="width form-control" maxlength="100"
            formControlName="descricao"
            [ngClass]="{'is-invalid': registerForm.get('descricao').errors && registerForm.get('descricao').touched}"
            [ngbTooltip]="validacaoTextos('descricao', 'Descrição', true)"
            tooltipClass="erroTooltip" oninput="this.value = this.value.toUpperCase()"
            StartWithSpace>
          </div>
        </div>


      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-cancelar-oi roxo-padrao" (click)="bsModalRef.hide()"><span class="texto-btn-oi cancelar">
          Cancelar </span></button>

      <button type="button" class="btn btn-primary" (click)="salvarAlteracao()" [ngClass]="!registerForm.valid ? 'btn-primary-disabled' : '' "
      [disabled]="!registerForm.valid" ><span
          class="texto-btn-oi confirmar"> Confirmar </span></button>
    </div>
  </div>
  <div>
  </div>


</div>
</div>
