.painel {
  border: 1px solid #D8D9DE;
  box-shadow: 0px 0px 2px 0px rgba(150,150,150,0.35);
}
.w700 {
  font-weight: 700;
}
.w500 {
  font-weight: 500;
}
.btn-text-cursor {
  cursor: pointer;
}
.modal-custom-font-size {
  font-size: 16px;
}
.font-grey {
  color: #555555;
}
.font-light-grey {
  color: #ababab;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-12 {
  font-size: 12px;
}
.custom-badge-finalizado,
.custom-badge-agendado,
.custom-badge-processando,
.custom-badge-erro,
.custom-badge-cancelado {
  color: #ffffff;
  font-size: 11px;
  height: 23px;
  padding: 0.25rem 0.40rem;
  border-radius: 0.25rem;
  font-weight: 700;
}
.custom-badge-finalizado {
  background: #19A519;
}
.custom-badge-agendado {
  background: #3270A7;
}
.custom-badge-processando {
  background: #FF8C00;
}
.custom-badge-erro {
  background: #F80000;
}
.custom-badge-cancelado {
  background: #505050;
}

.mb-small {
  margin-bottom: 8px; /* por exemplo, para um espaçamento menor */
}

.mt-small {
  margin-top: 8px;
}