.titulo {
    font-size: 14px;
    color: #554D80;
}

.status {
    width: 90px;
    text-align: center;
    float: right;
    padding: 3px 12px;
    border-radius: 3px;
    color: white;
}

.contentDireito {
    text-align: right;
}

.btn {
    padding: 0 14px;
}

.finalizadoem {
    color: #9597A6;
}