<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ titulo }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-0" [formGroup]="formulario">
  <form>
    <div class="row">
      <div class="col-md-10">
        <label class="col-form-label-sm" for="descricao">
          <b>Descrição:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="descricao" name="descricao"
          maxlength="50"
          [formControl]="descricaoFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(descricaoFormControl)"
          [ngbTooltip]="validacaoTexto" />
        <ng-template #validacaoTexto>
          <span *ngIf="descricaoFormControl.invalid && descricaoFormControl.errors.required">
            Campo obrigatório
          </span>
          <span *ngIf="descricaoFormControl.invalid && descricaoFormControl.errors.maxlength">
            A descrição não pode ter mais de 50 caracteres
          </span>
        </ng-template>
      </div>
      <div class="col-md-10">
        <label class="col-form-label-sm">&nbsp;</label>
        <div class="input-group" style="width: 100%; align-items: center;">
          <input
          type="checkbox"
          name="audiencia"
          id="audiencia"
          [formControl]="audienciaFormControl"
          />
          <label
          for="audiencia"
          class="form-check-label col-form-label-sm pl-1"
          style="font-size: 12px;"
          >
          Necessita atualização próxima à audiência
          </label>
        </div>
      </div>
      <div class="col-md-10">
        <label class="col-form-label-sm">&nbsp;</label>
        <div class="input-group" style="width: 100%; align-items: center;">
          <input
            type="checkbox"
            name="ativo"
            id="ativo"
            [formControl]="ativoFormControl"
          />
          <label
            for="ativo"
            class="form-check-label col-form-label-sm pl-1"
            style="font-size: 12px;"
          >
            Ativo
          </label>
        </div>
      </div>

      <div class="col-md-10 pt-4">
        <label class="col-form-label-sm font-weight-bold" for="depara">
          Pedido Correnspondente Cível Estratégico (DExPARA Migração de Processo)
        </label>
        <ng-select
        [ngStyle]="{ fontSize: '11px' }"
          id="depara"
          [items]="comboDepara"
          bindLabel="nome"
          bindValue="idEstrategico"
          notFoundText="Nenhuma opção disponível"
          [searchable]="true"
          [clearable]="true"
          clearAllText="Limpar"
          [formControl]="comboDeparaFormControl"
          placeholder="Selecione uma opção"
          [virtualScroll]="true"
        >
        </ng-select>

      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" aria-label="Close" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="confirmar()">Confirmar</button>
</div>
