<app-manutencao-generica (aoClicarNovoRegistro)="incluir()" titulo="Tipo de Documento"
  [breadcrump]="breadcrumb" [exibirAdicionar]="exibirTabela">
  <div class="row">
    <div class="col-12 py-3">
      <p class="font-purple">
        Selecione o Tipo de Processo desejado para exibir os Tipos de Documentos.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-3 pr-1">
      <label class="col-form-label-sm" for="tipoProcesso">
        <b>Tipo de Processo:</b>
      </label>
        <ng-select
        [ngStyle]="{'fontSize': '11px'}"
        id="nome"
        [items]="tiposProcesso"
        bindLabel="descricao"
        bindValue="id"
        appearance="outline"
        notFoundText="Nenhuma opção disponível"
        [searchable]="false"
        [clearable]="false"
        (change)="selecionarTipoProcesso($event)"
        [placeholder]="'Selecione o tipo de processo'"></ng-select>
    </div>
    <div class="col-3 pr-1" *ngIf="exibirTabela">
      <label class="col-form-label-sm" for="tipoProcesso" *ngIf="!estadoInicial">
        <b>Descrição:</b>
      </label>
      <input type="text" class="form-control mr-3" id="descricao" placeholder="Digite a descrição ou parte do texto"
        *ngIf="!estadoInicial" (keydown.enter)="buscar()" (input)="buscarDescricao = $event.target.value">
    </div>
    <div class="col-6 pr-1 d-flex align-items-end pb-1" *ngIf="exibirTabela" >
      <button class="btn btn-primary btn-sm" *ngIf="!estadoInicial" (click)="buscar()">Buscar</button>
    </div>

    <!-- <input #searchField (keyup.enter)="search = searchField.value" type="text" id="nome" maxlength="400"
        placeholder="Entre com a Descrição" class="form-control"> -->
  </div>

  <div *ngIf="exibirTabela">
    <div class="col-md-12 pr-0" style="text-align: right;">
      <button class="btn btn-roxo pr-1 pb-0" (click)="exportar()" *ngIf="!estadoInicial">
        <i class="fas fa-download pr-1 " style="font-size:15px; cursor: pointer !important;"></i>
        Exportar
      </button>
    </div>
    <div
      *ngIf="tipoProcessoSelecao === 3 || tipoProcessoSelecao === 12 || tipoProcessoSelecao === 18
    || tipoProcessoSelecao === 2 || tipoProcessoSelecao === 6 || tipoProcessoSelecao === 4 || tipoProcessoSelecao === 5 ">
      <jur-table style="width: 100%;" [sortDirection]="'asc'" [sortColumn]="'descricao'" [dataSource]="dataSource">

        <jur-column-template flex="10" headerName="Código" sortColumn="codigo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.codigo }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="50" [title]="row.descricao" headerName="Descrição" sortColumn="descricao" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.descricao }}
            </span>
          </div>
          <!-- <span class="tag" *ngIf="row.ehCalculoInicial">Cálculo Inicial</span> -->
        </jur-column-template>

        <jur-column-template flex="10" headerName="Ativo" sortColumn="ativo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.ativo? "Sim" : "Não" }}
            </span>
          </div>
        </jur-column-template>



        <jur-column-template *jurRowData="let row">
          <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
            <button type="button" class="btn btn-icon" (click)="alterar(row)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-icon" (click)="excluir(row)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </jur-column-template>

      </jur-table>
    </div>


    <div *ngIf="tipoProcessoSelecao === 1">
      <jur-table style="width: 100%;" [sortDirection]="'asc'" [sortColumn]="'descricao'" [dataSource]="dataSource">

        <jur-column-template flex="8" headerName="Código" sortColumn="codigo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.codigo }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="19" [title]="row.descricao" headerName="Descrição" sortColumn="descricao" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.descricao }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="5" headerName="Ativo" sortColumn="ativo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.ativo? "Sim" : "Não" }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="10" headerName="Cadastra Processo" sortColumn="cadastraProcesso" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.cadastraProcesso? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="12" headerName="Prioritário na fila de cadastro de processo" sortColumn="prioritarioNaFila" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.prioritarioFilaCadastroProcesso? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="8" headerName="Documento de Apuração?" sortColumn="indDocumentoApuracao" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.indDocumentoApuracao? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="8" headerName="Enviar App Preposto?" sortColumn="indEnviarAppPreposto" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.indEnviarAppPreposto? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="23" title="{{row.descricaoMigracao}} {{(row.ativoDePara || !row.descricaoMigracao) ? '' :' [INATIVO]'}}" headerName="Correspondente Cível Estratégico (DE x PARA migração de processo)" sortColumn="descricaoMigracao" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.descricaoMigracao }}{{row.ativoDePara || !row.descricaoMigracao?"" :" [INATIVO]"}}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template *jurRowData="let row">
          <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
            <button type="button" class="btn btn-icon" (click)="alterar(row)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-icon" (click)="excluir(row)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </jur-column-template>

      </jur-table>
    </div>

    <div *ngIf="tipoProcessoSelecao === 7">
      <jur-table style="width: 100%;" [sortDirection]="'asc'" [sortColumn]="'descricao'" [dataSource]="dataSource">

        <jur-column-template flex="8" headerName="Código" sortColumn="codigo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.codigo }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template [title]="row.descricao" flex="18" headerName="Descrição" sortColumn="descricao" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.descricao }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="8" headerName="Ativo" sortColumn="ativo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.ativo? "Sim" : "Não" }}
            </span>
          </div>
        </jur-column-template>


        <jur-column-template flex="10" headerName="Cadastra Processo" sortColumn="cadastraProcesso" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.cadastraProcesso? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="15" headerName="Prioritário na fila de cadastro de processo" sortColumn="prioritarioNaFila" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.prioritarioFilaCadastroProcesso? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="13" headerName="Requer Data de Audiência / Prazo" sortColumn="RequerDataAudiencia" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.requerDataAudienciaPrazo? "Sim" : "Não" }}</span></div>
        </jur-column-template>
        <jur-column-template flex="10" headerName="Documento de Apuração?" sortColumn="indDocumentoApuracao" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.indDocumentoApuracao? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="9" headerName="Enviar App Preposto?" sortColumn="indEnviarAppPreposto" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.indEnviarAppPreposto? "Sim" : "Não" }}</span></div>
        </jur-column-template>
        <jur-column-template *jurRowData="let row">
          <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
            <button type="button" class="btn btn-icon" (click)="alterar(row)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-icon" (click)="excluir(row)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </jur-column-template>

      </jur-table>
    </div>

    <div *ngIf="tipoProcessoSelecao === 9">
      <jur-table style="width: 100%;" [sortDirection]="'asc'" [sortColumn]="'descricao'" [dataSource]="dataSource">

        <jur-column-template flex="8" headerName="Código" sortColumn="codigo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.codigo }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template [title]="row.descricao" flex="30" headerName="Descrição" sortColumn="descricao" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.descricao }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="10" headerName="Ativo" sortColumn="ativo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.ativo? "Sim" : "Não" }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="40" title="{{row.descricaoMigracao}} {{(row.ativoDePara || !row.descricaoMigracao) ? '' :' [INATIVO]'}}" headerName="Correspondente Cível Consumidor (DE x PARA migração de processo)" sortColumn="descricaoMigracao" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.descricaoMigracao }}{{row.ativoDePara || !row.descricaoMigracao?"" :" [INATIVO]"}}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template *jurRowData="let row">
          <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
            <button type="button" class="btn btn-icon" (click)="alterar(row)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-icon" (click)="excluir(row)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </jur-column-template>

      </jur-table>
    </div>

    <div *ngIf="tipoProcessoSelecao === 17">
      <jur-table style="width: 100%;" [sortDirection]="'asc'" [sortColumn]="'descricao'" [dataSource]="dataSource">

        <jur-column-template flex="10" headerName="Código" sortColumn="codigo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.codigo }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="20" [title]="row.descricao" headerName="Descrição" sortColumn="descricao" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.descricao }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="10" headerName="Ativo" sortColumn="ativo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.ativo? "Sim" : "Não" }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="14" headerName="Cadastra Processo" sortColumn="cadastraProcesso" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.cadastraProcesso? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="14" headerName="Utilizado em Protocolo" sortColumn="UtilizadoProtocolo" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.utilizadoEmProtocolo? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="12" headerName="Documento de Apuração?" sortColumn="indDocumentoApuracao" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.indDocumentoApuracao? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template flex="12" headerName="Enviar App Preposto?" sortColumn="indEnviarAppPreposto" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.indEnviarAppPreposto? "Sim" : "Não" }}</span></div>
        </jur-column-template>

        <jur-column-template *jurRowData="let row">
          <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
            <button type="button" class="btn btn-icon" (click)="alterar(row)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-icon" (click)="excluir(row)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </jur-column-template>

      </jur-table>
    </div>

    <div *ngIf="tipoProcessoSelecao === 14 || tipoProcessoSelecao === 15">
      <jur-table style="width: 100%;" [sortDirection]="'asc'" [sortColumn]="'descricao'" [dataSource]="dataSource">

        <jur-column-template flex="10" headerName="Código" sortColumn="codigo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.codigo }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="35" [title]="row.descricao" headerName="Descrição" sortColumn="descricao" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.descricao }}
            </span>
          </div>
        </jur-column-template>

        <jur-column-template flex="10" headerName="Ativo" sortColumn="ativo" *jurRowData="let row">
          <div class="dado-jurtable">
            <span>
              {{ row.ativo? "Sim" : "Não" }}
            </span>
          </div>
        </jur-column-template>


        <jur-column-template flex="15" headerName="Tipo de Prazo" sortColumn="TipoPrazo" *jurRowData="let row">
          <div class="dado-jurtable"><span>{{ row.tipoDePrazo? row.tipoDePrazo.descricao : "" }}</span></div>
        </jur-column-template>

        <jur-column-template *jurRowData="let row">
          <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
            <button type="button" class="btn btn-icon" (click)="alterar(row)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-icon" (click)="excluir(row)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </jur-column-template>

      </jur-table>
    </div>


    <jur-paginator [length]="total"></jur-paginator>

  </div>



</app-manutencao-generica>
