<div class="container-vertical">
  <ul class="lista-fechamento">
    <li [ngStyle]="estiloBorda">
      <div class="container-fluid ">
        <div class="row areaConteudo" (click)="open(id)" [ngStyle]="estiloBordaBot">
          <div class="col-10 p-0">
            <div class="countainer-fluid p-0">
              <div class="row flex-nowrap m-0 p-0 ">
                <div style="width:54px; padding: 13px;" class="d-flex align-items-center justify-content-center">
                  <i [ngStyle]="estilo"
                    [ngClass]=" (isOpen ? 'fas fa-chevron-down ' : 'fas fa-chevron-right ') + 'seta '"></i>
                </div>
                <div class=" d-flex align-items-center">
                  <ng-content select=".contentEsquerda"></ng-content>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0 d-flex align-items-center justify-content-end">
            <ng-content select=".contentDireita"></ng-content>
          </div>
        </div>
        <ng-content select=".contentConteudo" *ngIf="isOpen"></ng-content>
      </div>
    </li>
  </ul>
</div>