.componentes {
    margin-top: 20px;
}
.componentes label{
    font-size: 13px !important;
      font-weight: bold;
      color:#555555;
}

.app-number{
    margin-left: 10px;
}

h1{
    font-size: 13px !important;
      font-weight: bold;
      color:#555555;
  }
  