 <div class="filters-box-items">
<div class="form-inline prlnk-datepicker">
     <div class="form-group">
       <div class="input-group">
         <input class="form-control "
                 type="search"
                 [ngClass]="
                 {
                 'erro': dtInicio.erro
                 }"
                 maxlength='10'
                 minlength='10'
                 [maxDate]="retornaMinMax(dtFim.data)"
                 rInputMask="99/99/9999"
                 placeholder="dd/mm/aaaa"
                 name="dp3"
                 [(ngModel)]="dtInicio.data"
                 ngbDatepicker
                 #f="ngbDatepicker"
                 [navigation]="'arrows'"
                 (change)="aoAlterarDatas()"
                 (keyup)="aoAlterarDatas()"
                 (dateSelect)="aoAlterarDatas()"
                firstDayOfWeek = "7"
                numberData
                >
                <span *ngIf="dtInicio.erro" class="guarda-erro" title="{{dtInicio.msg}}"></span>

         <div class="input-group-append">
           <button class="btn calendar" (click)="f.toggle();"  type="button" tabindex="-1"><i class="fa-solid fa-calendar-days fa-lg"></i></button>
         </div>
       </div>
     </div>
  </div>



 <div class="filters-box-text-between">até </div>
 <div>
  <div class="form-inline prlnk-datepicker">
     <div class="form-group">
       <div class="input-group">
         <input class="form-control"
                type="search"
                [ngClass]="
                {
                'erro': dtFim.erro
                }"
                maxlength='10'
                minlength='10'
                rInputMask="99/99/9999"
                [minDate]="retornaMinMax(dtInicio.data)"
                placeholder="dd/mm/aaaa"
                name="dp4"
                [(ngModel)]="dtFim.data"
                ngbDatepicker
                #g="ngbDatepicker"
                [navigation]="'arrows'"
                (change)="aoAlterarDatas()"
                (keyup)="aoAlterarDatas()"
                (dateSelect)="aoAlterarDatas()"
                firstDayOfWeek = "7"
                numberData
                >
                <span *ngIf="dtFim.erro" class="guarda-erro" title="{{dtFim.msg}}"></span>
               <div class="input-group-append">
           <button class="btn calendar" (click)="g.toggle();" type="button" tabindex="-1"><i class="fa-solid fa-calendar-days fa-lg"></i></button>
         </div>
       </div>
     </div>
  </div>


      </div>
      <div class="botao" *ngIf="exibirBotaoBuscar">
        <button class="btn btn-primary" (click)="buscarData()" [disabled]="!habilitarBotaoBuscar">Buscar</button>
    </div>
  </div>
