.area-filtro {
  text-align: left;
  cursor: default;
}

.input-filtro {
  width: 30rem;
    z-index: 1;
    padding-left: 24px;
}

.input-filtro::placeholder{
  opacity: 0.5;
}

.icone-busca {
  z-index: 2;
  position: absolute;
  color: gray;
  /* top: 20px;
  left: 6px; */

}



