<div class="modal-header">
  <span class="modal-title pl-0">{{titulo}}</span>
  <button type="button" id="close-button" class="btn btn-icon" (click)="close()">
    <i class="fa fa-times"></i>
  </button>
</div>

<form [formGroup]="formGroup" class="modal-body pt-0">

  <div >
    <label class="col-form-label-sm fonte-padrao" for="descricao-input">
      <b>Descrição:</b>
    </label>
    <input 
      type="search" 
      id="descricao-input" 
      #input [value]="input.value.toUpperCase()" 
      maxlength="66" 
      [formControl]="descricaoFormControl" 
      class="form-control" 
      style="height: 20px;"
      [disableTooltip]="descricaoFormControl.valid || descricaoFormControl.untouched" 
      [ngbTooltip]="descricaoError" >  
    <ng-template #descricaoError>
      <span *ngIf="descricaoFormControl.invalid && descricaoFormControl.errors.required">
        Campo obrigatório    
      </span>

      <span *ngIf="descricaoFormControl.invalid && descricaoFormControl.errors.maxlength">
        A descrição não pode ter mais de 66 caracteres
      </span>
      
    </ng-template>
  </div>

</form>

<div class="modal-footer">
  <button type="button" id="cancelar-button" class="btn btn-link" aria-label="Close" (click)="close()">Cancelar</button>
  <button type="button" id="confirmar-button" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="save()">Confirmar</button>
</div>