.total {
  font-weight: bold;
}

ng-select {
  width: 56px;
  margin-left: 12px;
}

.btn.index {
  max-width: 32px;
  max-height: 30px;
  min-width: 32px;
  min-height: 30px;
  padding: 0;
}

.btn.active {
  background-color: #786bb9;
  color: #fff;
}
