@import '~@ng-select/ng-select/themes/default.theme.css';
@import './app/shared/css/styles/bootstrap/bootstrap';
@import './app/shared/css/styles/paginaInterna';
@import './app/shared/css/styles/customs/formValidator';
@import './app/shared/css/styles/customs/tabelaInterna';
@import './app/shared/css/styles/title';

// Padrões de css da tabela

.padrao-table {
  border: 1px solid #dee2e6;
  border-top: none !important;

  label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #554d80;
  }

  td label {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #555555;
  }
}

.tdNot-table {
  padding: 8% !important;
  text-align: center;
  background: #fff;
}

.roxo-padrao {
  color: #786bb9;
}

.title-table {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #554d80;
}

.table-item {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.12px;
  text-align: left;
}

.text-limit-table {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

// end tabela

// Padrões de css da tabela

.padrao-table {
  border: 1px solid #dee2e6;
  border-top: none !important;

  label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #554d80;
  }

  td label {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #555555;
  }
}

.tdNot-table {
  padding: 8% !important;
  text-align: center;
  background: #fff;
}

.roxo-padrao {
  color: #786bb9;
}

.title-table {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #554d80;
}

.table-item {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.12px;
  text-align: left;
}

.text-limit-table {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

// end tabela

//limit de texto das tabelas
.text-limit {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

// combo-box

.btn-roxo {
  display: inline-block;
  font-size: 12px;
  color: #786bb9;
  font-family: Roboto;
}

.rowSelected {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.12px;
  text-align: left;
  color: #ffffff;
  background-color: #786bb9 !important;
}

.ng-select.ng-select-single .ng-select-container {
  height: 0;
}

.ng-select .ng-select-container {
  color: #333 !important;
  background-color: #fff !important;
  border-radius: 0px !important;
  border: 1px solid #ccc !important;
  min-height: 30px !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

filtro-data,
filtro-processos,
filtro-numero-conta-judicial,
filtro-empresa-grupo,
filtro-escritorio,
filtro-fornecedor,
filtro-centro-custo,
filtro-tipo-lancamento,
filtro-status-lancamento,
filtro-categoria-pagamento,
app-saldo-garantia-criterios-gerais,
app-saldo-garantia-banco,
app-saldo-garantia-empresa-grupo,
app-saldo-garantia-estado,
saldo-garantia-processos,
app-numero-guia,
criterios-importacao-arquivo-retorno,
app-processos-pex,
app-processos-juizado-especial,
app-trabalhista-filtros,
app-trabalhistaVaraGuia,
app-vertical-dual-list,
processos-trab,
advogados-filtros,
advogadoAcompanhante-filtro,
comarca-filtros,
empresaGrupo-filtro,
estado-filtros,
preposto-filtros,
prepostoAc-filtros,
criterioGerais-filtros,
app-filtro-numero-do-lote {
  width: 100%;
  height: 100%;
}

filtro-data {
  position: absolute;
  max-width: 850px;
}

.roxo-padrao {
  color: #6f62b2 !important;
}

$primary: #786bb9;
$label-margin-bottom: 0.2rem;
$input-padding-y-sm: 0rem;
$font-size-base: 0.75rem;

// @import "node_modules/bootstrap/scss/bootstrap";
@import './assets/sap/scss/estilo-filtros.scss';
// @import "./assets/sap/scss/filters-box.scss";
// @import "./assets/sap/scss/option-box.scss";
@import './app/shared/css/filters-box.scss';
@import './app/shared/css/option-box.scss';

$colors: (
  _purple: #786bb9,
  _white: #fff,
  _auto: #555555
);

body {
  padding-right: 0px !important;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #6151ac;
  border-color: #5c4da4;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #786bb9;
  border-color: #786bb9;
  border-radius: 4px !important;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 1.2;
}

ng-select.disabled .ng-select-container {
  background-color: #e9ecef !important;
  border-color: 1px solid #ced4da !important;
  opacity: 1;
}

.btn-primary-disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #786ff9;
  border-color: #786ff9;
  opacity: 0.2 !important;
}

.btn-primary-disabled:hover {
  color: #fff;
  background-color: #786bb9;
  border-color: #786bb9;
  opacity: 0.2;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 12px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.link-primary {
  background-color: #fff;
  color: #786bb9;
  box-shadow: none !important;
}

.link-primary:hover {
  background-color: #fff;
  color: #6151ac;
}

.link-primary span {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: 0.1px;
  text-align: left;
  color: #786bb9;
  padding-left: 5px;
}

.cinza .tooltip-inner {
  border: solid 1px #d2d2da !important;
  color: #555555;
  font-size: 12px;
}

.consultaSaldo .arrow::before {
  display: none;
}

.consultaSaldo .tooltip-inner {
  margin-left: -167px;
  max-height: 498px !important;
  min-width: 510px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  position: absolute;
  border-radius: 0;
  left: 0;
}

.branco .arrow::before {
  //border-left-color: #ffffff !important;
  //border-bottom-color:  #ffffff !important;
  display: none;
}

.consultaSaldo .arrow::before {
  //border-left-color: #ffffff !important;
  //border-bottom-color:  #ffffff !important;
  display: none;
}

.consultaSaldo .tooltip-inner {
  margin-left: -167px;
  max-height: 498px !important;
  min-width: 510px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  position: absolute;
  border-radius: 0;
}

.branco .tooltip-inner {
  margin-left: -167px;
  max-height: 498px !important;
  min-width: 33rem !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  position: absolute;
  border-radius: 0;
  border: 1px solid #dbdbdb;
  left: 0;
}

.toolip-w-ajuste {
  padding-right: 10px;
}

.cinza .arrow::before {
  border-left-color: #d2d2da !important;
}

.tooltip-inner {
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 5;
  margin-bottom: 6px;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  max-width: 700px !important;
  border: solid 1px #786bb9;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^='top'] .arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #786bb9;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^='right'] .arrow::before {
  right: 0;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: #786bb9;
}

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^='bottom'] .arrow::before {
  bottom: 0;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #786bb9;
}

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^='left'] .arrow::before {
  left: 0;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #786bb9;
}

/* You can add global styles to this file, and also import other style files */
// .top-header div.container {
//   height: 106px;
// }

.teste .tooltip {
  z-index: 2;
  display: block;
}

.spinnerContainer {
  background-color: #554d80;
  height: 100%;
  position: absolute;
  width: 100%;
}

.btn-popup-cancel {
  background-color: white;
  color: black;
  border: none;
  font-size: 12px;
  min-width: 61px;
  min-height: 21px;
  border-radius: 3px;
}

.btn-popup-cancel:hover,
.btn-popup-cancel:active,
.btn-popup-cancel:target {
  background-color: #dddddd !important;
  color: black !important;
  font-size: 12px;
}

.footer-popup {
  justify-content: flex-end !important;
}

.title-popup {
  text-align: left !important;
  font-size: 1em !important;
}

.header-popup {
  align-items: flex-start !important;
}

.close-popup:hover {
  color: #786bb9 !important;
}

.content-popup {
  text-align: left !important;
  margin-left: 30px !important;
}

.btn-popup-confirm {
  background-color: #786bb9;
  border: none;
  color: white;
  font-size: 12px;
  min-width: 61px;
  min-height: 21px;
  border-radius: 3px;
}

.btn-popup-confirm:hover,
.btn-popup-confirm:active,
.btn-popup-confirm:target,
.btn-popup-confirm.disabled,
.btn-popup-confirm:disabled
{
  background-color: #ab9eec !important;
}

.spinner {
  width: 55px;
  height: 55px;

  margin: 100px auto;
  -webkit-animation: sk-scaleout 2s infinite ease-in-out;
  animation: sk-scaleout 2s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  60% {
    -webkit-transform: scale(0.6);
    opacity: 0.6;
  }

  100% {
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.text-limit {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* MENU */
#menu {
  font-family: Tahoma !important;
  float: left;
  margin-left: 50px;
  clear: both;
  top: 68px;
  z-index: 2;
}

#menu ul {
  width: 920px;
  display: table;
  margin: 0 0 0 30px;
}

#menu ul li {
  float: left;
  display: block;
  height: 48px;
}

#menu ul li.ativo {
  background: #fff url(assets/img/bgMenu.gif) repeat-x;
}

#menu ul li a {
  font-family: Tahoma !important;
  color: #fff;
  font-size: 12px;
  width: 180px;
  display: block;
  line-height: 52px;
  text-align: center;
  height: 48px;
  overflow: hidden;
  cursor: pointer;
}

#menu ul li a:hover {
  color: #2b273d;
}

#menu ul li.ativo a {
  color: #0c1f32;
  font-size: 12px;
  line-height: 55px;
}

#menu li ul {
  float: left;
  position: absolute;
  display: none;
  z-index: 9999999999;
  padding: 0;
  margin: 0 0;
  width: 270px;
  background: #fff;
}

#menu li li,
li:hover ul,
#menu li.over ul,
#menu li.arrowMenuItem ul {
  display: block;
  background: #fff;
}

#menu li:hover ul,
#menu li.over ul,
#menu li.sfhover ul {
  display: block;
}

#menu li li {
  text-align: left;
  padding: 0;
  margin: 0;
  float: left;
  clear: both;
  width: 272px;
  height: 30px;
  border-bottom: 1px dotted #fff !important;
  _border-bottom: 1px dotted #423e55;
  background: #423e55;
}

#menu .arrowMenuItem {
  background: #423e55 url(assets/img/arrow.gif) 260px 0px no-repeat;
}

#menu .arrowMenuItem:hover {
  background: #4a3f7b url(assets/img/arrow.gif) 260px 0px no-repeat;
}

#menu li li:hover,
#menu li li.over {
  background: #4a3f7b;
}

#menu ul li.ativo li a,
#menu li li a {
  text-decoration: none;
  font-weight: normal;
  display: block;
  width: auto;
  height: 30px;
  color: #fff;
  line-height: 30px;
  font-size: 12px;
  text-indent: 15px;
  text-align: left;
  border-top: 0;
}

#menu ul li li a:hover {
  color: #ffc;
  font-weight: normal;
}

/* menu terceiro n�vel */
#menu li li ul {
  float: left;
  z-index: 4;
  margin: -30px 0 0 272px;
  padding-left: 0px;
}

#menu li:hover li ul,
#menu li.over li ul,
#menu li li ul {
  display: none;
}

#menu li li ul li {
  display: none;
}

#menu li:hover li:hover ul,
#menu li.over li.over ul {
  display: block;
}

// #menu ul li ul li ul.lote{
//   top: 30px; /* Para deixar o sub-menu na mesma linha do menu pai */
// }
#menu ul li ul li:hover ul li {
  display: block;
  width: 300px;
  left: 100%;
  /* Para deixar o sub-menu ao lado do menu pai */
}

// Sweet alert

//anula o comportamento de eliminar a barra de rolagem do sweetalert
body.swal2-shown {
  overflow: auto !important;
}

.popup-class,
.popup-class-horiz,
.popup-class-center {
  display: block !important;
  position: relative;
  width: 350px !important;
  min-height: 288px !important;
  max-height: 350px !important;
  padding: 10px !important;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  .icon-class {
    @mixin swalIconCommon {
      color: #786bb9 !important;
      border-color: #786bb9 !important;
      height: 52px;
      width: 52px;
      margin-top: 0px !important;
      font-size: 13px !important;
    }

    //ícone warning
    &.swal2-warning {
      @include swalIconCommon();
    }

    //ícone error
    &.swal2-error {
      @include swalIconCommon();

      .swal2-x-mark {
        span {
          background-color: #786bb9 !important;
          margin-left: auto;
          margin-right: auto;
          left: 0px;
          right: 0px;
          top: 25px;
        }
      }
    }
  }

  .header-class {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    margin-top: 15px;
  }

  .title-class {
    font-family: 'Roboto', sans-serif !important;
    color: #786bb9 !important;
    font-size: 15px !important;
    margin-bottom: 0px !important;
  }

  .content-class {
    font-family: 'Roboto', sans-serif;
    color: #525267 !important;
    font-size: 12px !important;
    margin-top: 20px !important;

    margin-bottom: 60px !important;
    text-align: justify;
  }

  .confirm-button-class {
    font-size: 12px !important;
    border-radius: 5px !important;
    padding: 0px !important;
    min-height: 25px !important;
    min-width: 60px !important;
    margin: 0px !important;
    font-size: 12px !important;
    font-weight: normal !important;
  }

  .actions-class {
    margin: 0px !important;
    display: flex !important;
    position: absolute;
    height: 25px !important;
    // background-color: red !important;
    bottom: 37px !important;
    left: 0px !important;
    padding: 0px !important;
  }
}

.popup-class-horiz {
  min-width: 350px !important;
  max-width: 500px !important;
  max-height: 350px !important;
  width: auto !important;
  min-height: 288px !important;
}

.popup-class-center {
  .content-class {
    text-align: center;
  }
}

div.swal2-container div.swal2-question {
  color: #786bb9;
  border-color: #786bb9;
}

div.swal2-container div.swal2-error {
  color: #786bb9;
  border-color: #786bb9;
}

.swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
  background-color: #786bb9;
}

div.swal2-container div.swal2-warning,
div.swal2-container div.swal2-info {
  color: #786bb9;
  border-color: #786bb9;
}

.swal2-success-ring {
  color: #786bb9 !important;
  border-color: #786bb9 !important;
}

.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: #786bb9 !important;
}

div.swal2-container h2.swal2-title {
  color: #786bb9;
  font-size: 1.5em;
  text-align: center !important;
}

div.swal2-container div.swal2-content {
  font-size: 0.8em;
}

div.swal2-modal.error-modal div.swal2-content {
  overflow: auto;
  max-height: 300px;
}

.pointer {
  cursor: pointer;
}

.tooltip.show {
  opacity: 1 !important;
}

/*
.swal2-icon::before {
    font-size: 16px;
}*/

.ver-mais {
  font-size: 13px;
  color: #554d80;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #554d80;
}

.link-roxo {
  /*background-color: #fff;*/
  color: #786bb9;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 0px;
  margin-left: 0px !important;
}

.link-roxo:hover {
  /*background-color: #fff;*/
  color: #6151ac;
  text-decoration: none;
}

.badge-orange {
  color: #fff;
  background-color: #e6a777;
}

.badge-warning {
  color: #fff;
  background-color: #ffc107;
}

.ico-reenviarEmail {
  background-image: url('assets/img/ico-resend-mail.png');
  width: 13px;
  height: 14px;
  vertical-align: bottom;
}

.ico-enviarEmail {
  background-image: url('assets/img/ico-resend-mail.png');
  width: 13px;
  height: 14px;
  vertical-align: bottom;
}

ngx-spinner {
  z-index: 100003 !important;
}

.overlay {
  opacity: 0.8;
}

table.sisjurTable {
  border: solid 1px #dee2e6;
  color: #555555;
}

table.sisjurTable thead th {
  border-bottom: none;
  color: #555555;
  font-size: 12px;
}

table.sisjurTable tbody tr {
  font-size: 12px;
}

.table.sisjurTable>tfoot>tr>th[aria-sort]::after,
.table.b-table>thead>tr>th[aria-sort]::after {
  position: relative;
  display: inline;
  right: 0px;
  padding-left: 5px;
  font-size: 14px;
}

.input-group-icon {
  background-color: #fff;
}

.page-item.disabled .page-link {
  color: #555555;
  font-size: 1rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #786bb9;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border: none;
  font-size: 1rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #786bb9;
  border-color: #786bb9;
}

// .form-control:focus {
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }

.erroTooltip .bs-tooltip-top {
  top: 9px !important;
}

.erroTooltip .arrow::before {
  display: none;
}

.erroTooltip .tooltip-inner {
  color: red;
  font-size: 11px;
  border: 1px solid red;
  border-radius: 3px;
  padding: 3px 5px;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

.page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.paginationDetails {
  color: #555555;
  font-weight: bold;
  font-size: 0.8rem;
  padding-top: 0.4rem;
}

.list-group-flush .list-group-item:first-child {
  border-radius: none !important;
}

/* utilitários */
.u-capitalize {
  text-transform: capitalize !important;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-bold {
  font-weight: bold;
}

.u-italic {
  font-style: italic;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-center {
  text-align: center;
}

.u-pointer {
  cursor: pointer !important;
}

/* fonts */

.tamanho-12 {
  font-size: 12px !important;
}

/* buttons */
.btn-oi-padrao {
  background-color: map-get($colors, _purple);
  color: map-get($colors, _white);
  height: 30px;
  min-width: 110px;
  border-radius: 4px;
}

//corrige problema de z-index do modal da SQD1
.modal.fade {
  z-index: 9000 !important;
}

.modal {
  z-index: 9999;
}

/*.modal.sub-modal { z-index:  100002; }*/
.modal-backdrop {
  z-index: 999;
  opacity: 0.3 !important;
}

/*.modal-backdrop:nth-of-type(odd) { z-index:  100001; }*/
.modal-open {
  overflow: auto !important;
}

.modal-class {
  margin: 10rem 0 0 auto;
}

.modal-content {
  border-radius: 0;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none;
}

.modal-title {
  float: left;
  width: 95%;
  color: rgba(85, 77, 128, 1);
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
}

.modal-sub-title {
  display: block;
  width: 95%;
  color: rgba(85, 77, 128, 1);
  font-size: 14px;
  padding-left: 5px;
}

button.close span {
  font-size: 19.2px;
}

.btn-oi-padrao:hover {
  color: map-get($colors, _white);
}

.swal2-container {
  z-index: 99999 !important;
}

form.form-crud {
  color: #555555;
  font-size: 12px;
}

.form-control {
  padding: 2px 12px;
  height: 30px;
  border-radius: 0px;
}

.uppercase {
  text-transform: uppercase;
}

.swal2-popup {
  width: 25em !important;
}

.form-control {
  font-size: 11px;
}

a:hover {
  color: #0056b3;
  text-decoration: none !important;
}

#topo {
  height: 55px;
  width: 100%;
  margin-top: 12px;
}

#topo h1,
#topo h1 a {
  overflow: hidden;
  width: 60px;
  height: 60px;
  text-decoration: none;
  float: right;
}

#topo li {
  list-style: none;
}

#topo h3,
#topo h4,
ol {
  float: left;
}

#topo h4 {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  margin: 28px 10px 0;
}

#topo h3 span {
  color: #060f19;
}

#topo li {
  float: left;
}

#topo ol {
  margin: 11px 0 22px;
  // width: 75%;
}

#topo a {
  cursor: pointer;
}

#topo ol li a {
  color: #ffcc33;
  text-decoration: underline;
  font-size: 13px;
}

#topo ol li#sair {
  width: 75%;
  color: #ffffff;
}

#topo ol li#banco {
  color: #ffffff;
  text-decoration: none;
  font-size: 10px;
  position: relative;
  top: -20px;
}

#topo ol li a.ctlUserName {
  color: #ffffff;
}

#topo ul {
  margin: 0 25px 0;
}

#topo ul li {
  display: block;
  float: left;
  height: 48px;
}

#topo ul li.ativo {
  color: #0c1f32;
  font-size: 14px;
  line-height: 55px;
}

#topo ul li a {
  color: #fff;
  font-size: 12px;
}

#topo ul li.ativo a {
  color: #0c1f32;
  font-size: 14px;
}

.ctlNomeBanco {
  font-family: Tahoma;
  // font-weight: bold;
  color: white;
  font-size: 13px;
  text-decoration: none;
}

.input-group-text {
  border-radius: 0px;
}

.table.sisjurTable>tfoot>tr>th[sortable][class='asc']::after,
.table.sisjurTable>thead>tr>th[sortable][class='asc']::after {
  opacity: 1;
  content: '\2193';
}

.table.sisjurTable>tfoot>tr>th[sortable][class='desc']::after,
.table.sisjurTable>thead>tr>th[sortable][class='desc']::after {
  opacity: 1;
  content: '\2191';
}

.table.sisjurTable>tfoot>tr>th[sortable]::after,
.table.sisjurTable>thead>tr>th[sortable]::after {
  position: relative;
  display: inline;
  right: 0px;
  padding-left: 10px;
  font-size: 14px;
}

.table.sisjurTable>tfoot>tr>th[sortable]::after,
.table.sisjurTable>thead>tr>th[sortable]::after {
  /*position: absolute;
    display: block;*/
  bottom: 0px;
  right: 0.35em;
  padding-bottom: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 0.4;
  content: '\2195';
}

.table.sisjurTable>tfoot>tr>th[sortable],
.table.sisjurTable>thead>tr>th[sortable] {
  position: relative;
  padding-right: 1.12em;
  cursor: pointer;
}

.sisjur-table-agend-atmpex tbody {
  max-height: 350px;
  overflow-y: scroll;
  display: block;

  .solo {
    display: block;
    padding-left: 12px;
  }
}

@keyframes modal-b-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes modal-fade {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

// .modal-open {
//     overflow: auto!important;
// }

.modal-backdrop.show {
  opacity: 0.3;
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: none !important;
}

.orange {
  color: #f48a2f !important;
}

.gray {
  color: #a5a695 !important;
}

.btn-sub-title {
  font-size: 10px !important;
}

// CSS de urgência para entregar a tela de Pré Cadastro de Processo (melhorar no futuro)
#horaPrimeiraAudiencia fieldset .ngb-tp .ngb-tp-input-container button {
  padding: 0rem;
}

#horaLimiteCumprimento fieldset .ngb-tp .ngb-tp-input-container button {
  padding: 0rem;
}

#horaPrazoContestacao fieldset .ngb-tp .ngb-tp-input-container button {
  padding: 0rem;
}

@import './app/sap/sap.scss';

/*Datepicker*/
// .prlnk-datepicker ngb-datepicker {
//   --primary: black;
// }
// .prlnk-datepicker ngb-datepicker div {
//   margin-left: unset;
// }
// .prlnk-datepicker div.ngb-dp-arrow > button > span {
//   color: #363636;
// }
// .prlnk-datepicker div.btn-light,
// .prlnk-datepicker .ngb-datepicker div.btn-light {
//   margin-right: 0px;
//   text-align: right;
// }
// .prlnk-datepicker .filters-box-items div.btn-light div.ngbdatepickerdayview,
// .prlnk-datepicker .ngb-datepicker div.btn-light div.ngbdatepickerdayview {
//   text-align: right;
// }

// .prlnk-datepicker div.ngb-dp-month-name {
//   font-size: 11px;
//   width: auto;
//   white-space: nowrap;
//   height: unset;
//   margin: 0 auto;
//   font-weight: bold;
//   text-transform: capitalize;
//   background: none;
// }
// .prlnk-datepicker div.ngb-dp-header {
//   padding-left: 2px;
//   padding-right: 2px;
//   margin-right: 0px;
// }
// .prlnk-datepicker div.ngb-dp-arrow {
//   margin: 0px;
// }
.prlnk-datepicker ngb-datepicker-navigation {
  font-size: 12px;
  font-style: normal;
  text-transform: capitalize;
  background-color: #6151ac !important;
  padding: 11px !important;
}

ngb-datepicker {
  box-shadow: 0 0 10px 0 #aaa;
}

.dropdown-menu.show {
  padding: 15px;
}

.ngb-dp-navigation-chevron {
  color: white;
  font-size: 10px;
}

.ngb-dp-months {
  border: 1px solid #dee2e6;
}

.ngb-dp-month-name {
  background-color: #6151ac !important;
  color: white;
}

.ngb-dp-week-number {
  font-style: normal !important;
  color: #6151ac !important;
}

.ngb-dp-week {
  &>div {
    margin-right: 5px;
  }
}

.ngb-dp-weekdays {
  border: none !important;
  background-color: white !important;
}

.ngb-dp-weekday {
  color: #b1c1cf !important;
}

[ngbDatepickerDayView] {
  border-radius: 1.25rem !important;
}

// .prlnk-datepicker div.ngb-dp-week {
//   margin-right: 0px;
//   width: 100%;
// }
// .prlnk-datepicker div.ngb-dp-months {
//   margin-right: 0px;
// }

// .prlnk-datepicker div.ngb-dp-month {
//   margin-right: 0px;
// }
.prlnk-datepicker div.ngb-dp-weekday {
  font-size: 12px;
  font-style: normal;
  text-transform: capitalize;
}

// .prlnk-datepicker div.ngb-dp-weekdays div.ngb-dp-weekday {
//   border: solid 1px rgba(0, 0, 0, 0);
//   height: 20px;
//   width: 25px;
//   text-align: center;
//   color: #333;
//   font-style: normal;
//   margin-right: 1px;
//   font-weight: bold;
// }
// .prlnk-datepicker div.ngb-dp-day {
//   display: flex;
//   height: 20px;
//   width: 25px;
//   margin-right: 1px;
//   margin-bottom: 1px;
//   background: #e9e9e9;
//   font-size: 10px;
//   text-align: right;
//   border: solid 1px #ddd;
//   padding: 1px;
//   justify-content: flex-end;
// }
// .prlnk-datepicker div.ngb-dp-day .btn-light {
//   width: auto;
//   height: auto;
//   margin-right: 1px;
//   line-height: 12px;
//   text-align: right;
//   -ms-flex-align: end;
// }
// .prlnk-datepicker div.ngb-dp-day .btn-light.text-white {
//   color: black;
//   padding-right: 1px;
// }
// .prlnk-datepicker div.ngb-dp-day.ngb-dp-today {
//   /*background: green;*/
//   color: black;
//   box-shadow: none;
//   border: solid 1px yellow;
// }
// .prlnk-datepicker div.ngb-dp-day.ngb-dp-today > div.btn-light.ng-star-inserted {
//   background: none !important;
//   color: black;
// }

// .prlnk-datepicker .text-white {
//   background: none !important;
//   color: black !important;
// }
// .prlnk-datepicker div.ngb-dp-day {
//   position: relative;
// }
// .prlnk-datepicker .ng-star-inserted.active:before {
//   content: "";
//   -webkit-box-shadow: 1px 1px 0 1px #786bb9, -1px -1px 0 1px #786bb9, 1px -1px 0 1px #786bb9, -1px 1px 0 1px #786bb9;
//   box-shadow: 1px 1px 0 1px #786bb9, -1px -1px 0 1px #786bb9, 1px -1px 0 1px #786bb9, -1px 1px 0 1px #786bb9;
//   color: white;
//   width: 100%;
//   height: 100%;
//   left: 0px;
//   top: 0px;
//   position: absolute;
// }
// .prlnk-datepicker btn-light {
//   background-color: green !important;
// }
// .prlnk-datepicker .bg-primary {
//   $color: green;
//   background-color: $color;
// }
// .prlnk-datepicker:deep {
//   $color: green;
//   background-color: $color;
// }
// .prlnk-datepicker div.form-group {
//   width: auto;
//   margin: 0px;
// }
// .prlnk-datepicker div.input-group {
//   padding: 0px;
//   display: flex;
// }
// form {
//   width: auto;
// }

// .prlnk-datepicker div.input-group input.form-control {
//   width: 120px;
//   min-width: 120px;
// }
// .prlnk-datepicker div.input-group input.form-control {
//   background-color: white;
//   transition: linear border 0.3s, linear -webkit-box-shadow 0.3s, linear box-shadow 0.3s;
//   position: relative;
// }
// .prlnk-datepicker div.input-group input.form-control:active,
// .prlnk-datepicker div.input-group input.form-control:focus {
//   border: solid 3px rgba(231, 228, 246, 1);
//   transition: linear border 0.3s, linear -webkit-box-shadow 0.3s, linear box-shadow 0.3s;
//   -webkit-box-shadow: inset 0 0 0 1px #786bb9;
//   box-shadow: inset 0 0 0 1px #786bb9;
// }
/*div.input-group input.form-control.erro+div.input-group-append{
    pointer-events: none;
    z-index:1;
}*/
.prlnk-datepicker div.input-group input.form-control.erro+span.guarda-erro {
  /*display: none;*/
  /*position: relative;*/
}

.prlnk-datepicker div.input-group input.form-control.erro+span.guarda-erro:before,
.prlnk-datepicker div.input-group input.form-control.erro+span.guarda-erro:before {
  content: attr(title);
  color: red;
  border: solid 1px red;
  font-size: 11px;
  min-height: 14px;
  max-width: 200px;
  overflow: hidden;
  white-space: normal;
  background: white;
  position: absolute;
  left: 3px;
  bottom: 25px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 0;
  transition: linear opacity 0.1s, linear bottom 0.1s;
  pointer-events: none;
}

.prlnk-datepicker div.input-group input.form-control.erro:hover+span.guarda-erro:before,
.prlnk-datepicker div.input-group input.form-control.erro:hover+span.guarda-erro:before {
  content: attr(title);
  color: red;
  border: solid 1px red;
  font-size: 11px;
  min-height: 14px;
  max-width: 200px;
  overflow: hidden;
  white-space: normal;
  background: white;
  position: absolute;
  left: 3px;
  bottom: 30px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 1;
  transition: linear opacity 0.1s, linear bottom 0.1s;
  display: block;
  pointer-events: none;
  /*transition-delay: 1.5s;*/
}

/*.prlnk-datepicker div.input-group input.form-control.erro:active,
.prlnk-datepicker div.input-group input.form-control.erro:focus*/
.prlnk-datepicker div.input-group input.form-control.erro:active,
// .prlnk-datepicker div.input-group input.form-control.erro:focus {
//   border: solid 3px rgba(255, 0, 0, 0.1);
//   transition: linear border 0.3s, linear -webkit-box-shadow 0.3s, linear box-shadow 0.3s;
//   -webkit-box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 1);
//   box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 1);
// }
.prlnk-datepicker div.input-group input.form-control.erro {
  border: solid 3px rgba(255, 0, 0, 0.1);
  transition: linear border 0.3s, linear -webkit-box-shadow 0.3s,
    linear box-shadow 0.3s;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 1);
  box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 1);
}

.prlnk-datepicker button.calendar {
  // margin-right: 5px;
  // margin-left: 5px;
  // height: 30px;
  // width: 30px;
  // padding: 0px;
  width: 21px;
}

.prlnk-datepicker button.calendar i,
.prlnk-datepicker button.calendar i::before {
  color: #2e59a3;
  padding: 0px;
}

.prlnk-datepicker button.calendar:hover {
  background-color: none;
}

// fim Datepicker

div.form-group {
  /*max-width: 120px;*/
  width: auto;
  margin: 0px;
}

.center-span {
  display: inline-block;
}

.center-div {
  margin: auto auto;
}

div.input-group {
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  // margin-right: 5px;
}

div.input-group-left {
  padding: 0px;
  display: flex;
  /*flex-wrap: nowrap;*/
  margin-right: 5px;
}

form {
  width: auto;
}

div.input-group input.form-control {
  width: 120px;
}

button.calendar {
  // margin-right: 30px;
  // margin-left: 5px;
  // height: 30px;
  width: 30px;
  padding: 0px;
}

button.calendar i,
button.calendar i::before {
  color: #2e59a3;
  padding: 0px;
}

button.calendar:hover {
  background-color: none;
}

// breadcrumb comum a várias telas contendo o título e navegação
.container-breadcrumb {
  margin-top: 8px;
  // margin-bottom: 30px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  h3 {
    color: map-get($colors, _purple);
    font-size: 20px;
    margin-bottom: 0px;
  }

  p {
    color: map-get($colors, _auto);
  }
}

.popup-popup {
  width: 500px !important;
  border: 1px solid #707070 !important;
  border-radius: 0 !important;
}

.popup-popup-estorno {
  width: 600px !important;
  border: 1px solid #707070 !important;
  border-radius: 0 !important;
  padding: 33px !important;
}

.paddingEstorno {
  padding-left: 59px;
}

.title-popup-estorno {
  font-size: 16px !important;
  padding-bottom: 14px !important;
}

.roxo-claro {
  margin-bottom: 0;
}

.filters-box-text-between {
  padding: 5px;
}

.title-popup {
  font-size: 1.2em !important;
}

/*-- listbox  --*/

.filters-listbox {
  display: flex;
  min-height: 300px;
  clear: both;
  width: 100%;
  padding-top: 20px;
  font-size: 12px;
}

.listbox-left {
  flex-grow: 7;
  flex-basis: 47%;
  border: solid 1px rgb(180, 180, 180);
  position: relative;
}

.listbox-right {
  flex-grow: 7;
  flex-basis: 47%;
  border: solid 1px rgb(180, 180, 180);
  position: relative;
}

.listbox-left ul,
.listbox-right ul {
  padding-left: 0px;
  margin-top: 5px;
  position: relative;
}

.listbox-list li span {
  display: block;
  padding-left: 7px;
  padding-top: 5px;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  /*white-space: nowrap;*/

  height: 100%;
  /*border-bottom: solid 1px rgb(180,180,180);*/
  line-height: 18px;
}

/* .listbox-list li span:before{
      content: "";
      height: 30px;
      pointer-events: none;
      border-bottom:solid 1px black;
      background-color: rgba(23,55,180,.3);
      width: 100%;
      position: absolute;
      left: 0px;
    }*/
// CRIAR SOLUÇÃO COM SPAN E AFTER PARA ADICIONAR A LINHA EMBAIXO
.listbox-list li.active,
.listbox-list li.active:hover {
  background: #786bb9;
  color: white;
}

.listbox-left li,
.listbox-right li {
  text-transform: none;
  list-style: none;
  font-size: 14px;
  line-height: 3;
  max-width: 107vh;
  /*border-bottom: solid 1px rgb(180,180,180);*/
  cursor: pointer;
}

.listbox-left li:hover,
.listbox-right li:hover {
  background-color: #eeeeee;
}

.listbox-list {
  position: relative;
  width: auto;
  //height: 300px;
  height: 355px;
  overflow: auto;
  max-width: 390px;
}

.listbox-buttons {
  flex-basis: 6%;
  display: flex;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.listbox-buttons button {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  margin-bottom: 10px;
  background-position: center center;
  /*background-size: cover;*/
  cursor: pointer;
}

.listbox-buttons button.bt-select-all {
  background-image: url('assets/img/select_all.png');
}

.listbox-buttons button.bt-select {
  background-image: url('assets/img/select.png');
}

.listbox-buttons button.bt-deselect {
  background-image: url('assets/img/deselect.png');
}

.listbox-buttons button.bt-deselect-all {
  background-image: url('assets/img/deselect_all.png');
}

.listbox-buttons button.bt-select-all[disabled='disabled'],
.listbox-buttons button.bt-select[disabled='disabled'],
.listbox-buttons button.bt-deselect[disabled='disabled'],
.listbox-buttons button.bt-deselect-all[disabled='disabled'] {
  opacity: 0.3;
  cursor: default;
}

.listbox-label {
  position: absolute;
  top: -23px;
  color: #6f62b2;
  font-weight: bold;
}

.title-atencao {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.14px;
  text-align: left;
  color: #6f62b2;
}

.fonte-padrao {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.fonte-padrao-negrito {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

//
//
// should be at the end - only God knows why
// icon buttons
.btn-icon {
  height: 28px;
  min-height: 28px;
  max-height: 28px;
  min-width: 28px;
  text-align: center;
  padding: 0;
  margin: 4px;
  line-height: 28px;
  display: flex;
  align-items: center;
  flex: none;
  font-size: 20px;
  color: #6f62b2;

  &:hover {
    color: rebeccapurple;
  }

  * {
    font-size: 100%;
  }

  i {
    margin: auto;

    &:not(:only-child) {
      margin-right: 4px;
    }
  }
}

.modal-agend-movimentacao-pex div.modal-lg {
  max-width: 90% !important;
}

// .modal-backdrop {
//   background-color: rgba(0, 0, 0, 0) !important;
// }

.modal-backdrop-parametrizar{
  background-color: rgba(0, 0, 0, 1.5) !important;
  z-index: 1050 !important;
}

.modal-backdrop-anexo{
  background-color: rgba(0, 0, 0, 1.5) !important;
  z-index: 9000 !important;
}

.modal-backdrop-novo-anexo{
  background-color: rgba(0, 0, 0, 1.5) !important;
  z-index: 9000 !important;
}

.modal-backdrop-novo-anexo .modal .fade{
  z-index: 10000 !important;
}

.modal-content-sombra .modal-content{
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3) !important;
}

.fullscreen {
  margin-top: 53px !important;
  overflow: hidden !important;
}

.fullscreen .modal-dialog {
  max-width: 100vw !important;
}

.fullscreen .modal-dialog .modal-content {
  height: 300vw !important;
  max-width: none !important;
}

.modal-agend-movimentacao-trabalhista div.modal-lg {
  max-width: 60% !important;
}

.modal-agend-fechamento-contingencia {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}


/* Usado pelo componente Ng-Select */
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #F0F1F7 !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-right: 1px solid #c6c6c6 !important;
}

.modal-agend-fechamento-contingencia div.modal-content {
  min-width: 900px !important;
}

// .paginacao .pagination .page-item.disabled .page-link {
//   color: #555555;
//   background-color: #f5f5f5;
//   font-size: 1rem;
// }

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  background-color: #c5bee4;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #c5bee4;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #c5bee4;
}

.ng-select.ng-select-disabled>.ng-select-container {
  background-color: #f2f2f2 !important;
}

bs-datepicker-container > bs-daterangepicker-container{
z-index: 9999 !important;
}

.customTab .nav-tabs .nav-link{
  font-size: 16px;
  color: gray;
}

.customTab .nav-tabs .nav-link.active{
  color: #704d80;
  font-weight: 600;
  background-color: #fff;
  border-color: white white #704d80;
}

.customTab .nav-tabs .nav-link:hover{
  color: #704d80;
  // font-weight: 900;
  background-color: #fff;
  border-color: white white #dee2e6;
}

.custom-switch .subTitle::after {
  left: calc(42% - 79%);
  width: calc(0.6rem - -12px);
  height: calc(1rem - -2px);
  border-radius: 3.5rem;
  top: calc(0.25rem + -2px);
}

.custom-switch .subTitle::before {
  top: -0.01rem;
  left: -3.5rem;
  width: 3rem;
  pointer-events: all;
  height: 1.5rem;
  border-radius: 1.5rem;
}

.comarcaSelect .ng-dropdown-panel.ng-select-bottom{
  width: 366px !important;
}

.varaSelect .ng-dropdown-panel.ng-select-bottom{
  width: 366px !important;
}

.modal-esocial {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ngb-modal-backdrop {
  background-color: rgba(0, 0, 0, 0) !important;
}

.swal2-popup-custom-43 {
    width: 43em !important;
}

.swal2-popup-custom-35 {
  width: 35em !important;
}
.swal2-popup-custom-auto {
  width: auto !important;
}
