.modal-header{
  padding-bottom: 3px;
}

.texto-informativo{
    font-style: italic;
}
// .form-control.ng-invalid ~ ngb-tooltip-window {
//   &.bs-tooltip-top {
//     top: 9px!important;
//   }

//   .arrow { display: none; }
//   .tooltip-inner {
//     color: red;
//     font-size: 11px;
//     border: 1px solid red;
//     border-radius: 3px;
//     padding: 3px 5px;
//   }
// }

// .form-control {
//   &:focus{
//     box-shadow: inset 0px 0px 2px 0.5px rgba(0,0,0,0.69);
//   }

//   &.ng-invalid {
//     &.ng-touched{
//       border: 1px solid red; outline: none; box-shadow: 0 0 3px red;
//       box-shadow: inset 0px 0px 2px 0.5px rgba(255,0,0,0.69);
//     }

//   }
// }
