//$swal2-error: #6F62B2 !default;

.btn-roxo:hover{
  color: #6f62b2;
}

.hidden{
  display: none !important;
}

.nao-tem-log{
  width: 100%;
  height: 100px;
  display:flex;
  align-items: center;
  justify-content: center;

  span{
  display:block;
  }

}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  }
}

.botaoDeVoltar{
  left: 80%;
  top: 0px;
  background: none;
  border: none;
  color: #6f62b2;
  font-weight: bold;
  cursor: pointer;
  float: right;  
}

p {
  font-weight: bold; 
}

label.tipo-de-processo{
  color: #212529;
  font-family:"Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.botao{
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}



  
  button[disabled]{
    pointer-events: none;
  }
  
  .disable{
    pointer-events: none;
    opacity: 50%;
  }
  
  i{
    margin-right: 5px;
  }
  
  .initial_info{
    white-space: nowrap;
    color: #6f62b2;
    line-height: 13px;
  
    a{
      font-weight:bold;
    }
  }
  
  button{ cursor: pointer; }
  
  section{
    min-width: 85%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 30px;
    font-size: 12px;
    font-family: arial;
  }
  
  section.container-breadcrumb{
    margin-top: 8px;
  
    h3{
      color: #554D80;
    }
  }
  
  section.upper{
    display: flex;
    height: 160px;
    justify-content: space-between;
  }
  
  section.upper>div{
    padding: 10px;
    box-sizing: border-box;
  }
  
  section.upper>div:nth-of-type(1){
    width: 35%;
    position: relative;
    padding: 0px;
  }
  
  section.upper>div:nth-of-type(2){
    width: 63%;
  }
  
  .aviso_nenhum_tipo_selecionado{
    width: 100%;
    position: absolute;
    left: 0px;
    top:50%;
    margin-top: -5px;
    text-align: center;
    color: #e0daff;
    font-size: 11px;
  }

  
  
  // .tv_treeview{
  //   height: 100%;
  //   overflow: auto;
  //   position:relative;
  //   padding-left: 20px;
  // }
  
  // .tv_conteudo{
  // position: relative;
  // min-width: 90%;
  // min-height: 100%;
  // margin-top: 0px;
  // /*background: red;*/
  // border-left: solid 1px #e0daff;
  // }
  
  // .tv_linha:first-of-type{
  // /*margin-top: 10px;*/
  // }
  
  // .tv_linha{
  //   position: relative;
  //   font-size: 12px;
  //   padding-left: 30px;
  //   padding-top: 1px;
  //   height: 20px;
  //   white-space: nowrap;
  // }
  
  // .tv_espacotopo{
  //   position: relative;
  //   font-size: 12px;
  //   height: 10px;
  //   white-space: nowrap;
  // }
  
  // .tv_traco{
  //   position: absolute;
  //   width: 25px;
  //   height: 25px;
  //   top: -15px;
  //   left: 0px;
  //   border-bottom: solid 1px #e0daff;
  //   /*border-left: solid 1px gray;*/
  // }
  
  // .tv_seta{
  //   position: absolute;
  //   left: 20px;
  //   top: 5px;
  //   width: 8px;
  //   height: 8px;
  //   fill:#554d80;
  // }
  
  // .campo_file{
  //   width: 300px;
  //   margin-top: 10px;
  //   margin-bottom: 10px;
  // }
  
  // .botao_instrucoes{
  //   position: absolute;
  //   top: 5px;
  //   right:5px;
  //   background: none;
  //   border: none;
  //   color: #6f62b2;
  
  //   font-size: 11px;
  //   padding: 2px;
  //   cursor: pointer;
  // }
  
  // .botao_baixar_planilha{
  //   font-size: 10px;
  //   padding:2px;
  //   padding-left:0px;
  //   background: none;
  //   border: none;
  //   margin-top: 20px;
  
  //   color: #6f62b2;
  // }
  
  // .botao_agendar{
  //   position: absolute;
  //   bottom: 10px;
  //   right: 10px;
  //   font-size: 12px;
  // }
  
  section.lower > div.quad{
    // min-height: 112px;
    position: relative;
  }
  
  div.vermais{
    // position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 30px;
  }
  
  .labelUpload {
    color: #6f62b2;
  }
  
  div.vermais button{
    font-size: 12px;
    // font-weight: bold;
    line-height: 30px;
    border: none;
    background: none;
    color: #6f62b2;
  }
  
  .secao_titulo{

    position: absolute;
    top: -22px;
    left: 0px;
  
    font-size: 15px;
    font-weight: bold;
    color: #554D80;

    &_inline{
      position: relative;
    //   top: -22px;
    // left: 0px;
    font-size: 15px;
    font-weight: bold;
    color: #554D80;
    margin-bottom: 10px;
    }
  }
  
  .quad{
    position:relative;
    border: solid 1px #e0daff;
    margin-top: 10px;
  }
  
  section.lower {
    margin-top:40px;
    
  }
  
  .celula_processos{
    
    
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    padding:12px;
  
    border-bottom: solid 1px #e0daff;
    box-sizing: border-box;
  }
  
  .celula_esquerda{
    width: 80%;
    position: relative;
  }
  
  .finalizacao_processos{
    font-size:10px;
  }
  
  .botoes_processos{
    position: absolute;
    bottom: 0px;
  }
  
  .descricao_processos{
    color: #6f62b2;
  }
  
  .botoes_processos button, .botoes_topodireita button {
    font-size:12px;
    border: none;
    background: none;
    padding-left: 0px;
    margin-right: 10px;
    cursor: pointer;
  
    color: #6f62b2;
  
    i{
      margin-right: 8px;
    }
  
  }
  
  .botoes_processos button{
    margin-right: 50px;
  
    i{
      margin-right: 5px;
    }
  }
  
  .botoes_topodireita{
    position: absolute;
    top: -20px;
    right: 0px;
  
  }
  
  .botoes_topodireita button{
    margin-right: 0px;
    padding-right: 0px;
  }
  
  .celula_direita{
    width: 150px;
    text-align: left;
    margin-right:3px;
    
    &:nth-of-type(1){
      width: 170px; 
    }

    &:nth-of-type(2){
      width: 160px; 
    }

    &:nth-of-type(3){
      width: 120px; 
    }

    &:nth-of-type(4){
      width: 190px; 
    }

    &:nth-of-type(5){
      width: 90px;
      
    }

    &:nth-of-type(6){
      width: 140px;
      
    }

    p{
      margin-bottom:3px;
    }

    span{
      line-height: 12px;
    }

    div{
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .celula_botaolog{
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // .status_processo{
  //   color: white;
  //   background-color: #3270A7;
  //   font-size: 12px;
  //   display: inline-block;
  //   padding: 3px;
  //   padding-left: 5px;
  //   padding-right: 5px;
  //   border-radius: 5px;
  
  //   margin-bottom: 2px;
  //   text-align: center;
  //   min-width: 50px;
  // }
  
  // .status_processo.finalizado{ background-color:#19A519; }
  // .status_processo.processando{ background-color:#FF8C00; }
  // .status_processo.erro{ background-color:#F80000; }
  
  // .data_agendamento_processo{
  //   font-size: 11px;
  //   color: #6f62b2;
  // }
  
  // .campobusca_file{
  //   position: absolute;
  //   top: 0px;
  //   right: 0px;
  //   width: 100px;
  //   height: 100%;
  //   cursor: pointer;
  //   opacity:0;
  // }
  
  // .campobusca{
  //   position: relative;
  //   width: 450px;
  //   white-space: nowrap;
  //   margin-top: 10px;
  //   margin-bottom: 10px;
  //   text-align: justify;
  //   display: flex;
  // }
  
  // .campobusca_exibe{
  //   width: 390px;
  //   margin: 0px;
  
  //   padding-top: 3px;
  //   padding-bottom: 3px;
  // }
  
  // .campobusca_botao{
  //   width: 100px;
  //   pointer-events: none;
  //   border: none;
  //   margin-left: 5px;
  //   padding-top: 3px;
  //   padding-bottom: 3px;
  
  //   &[disabled]{
  //     opacity: 0.65;
  //   }
  // }
  
  // .statusFinalizado {
  //   color: grey;
  // }

  .usuarioInfo{
    color: #6f62b2;
    font-size: 13px;
    font-weight: normal;
  }



  //inicio popup

  .operacaoUsuario{
    position: fixed;
    top:0px;
    left:0px;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index:1000;
    padding:0px;
    /*atenção tirar depois*/
    font-family: arial;
    font-size:12px;

    h3{
      font-size: 20px;
      color: #554D80;
    }
  }

  section.popup{
    position: absolute;
  }

  .popupOperacoes{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 700px;
    width: 60%;
    height: 480px;
    background: white;
    margin: 0 auto;
    top:50%;
    margin-top: -240px;
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px #D2D2DA;

    label{
      color: #212529;
      font-family:"Roboto", sans-serif;
      font-size: 12px;
      font-weight: bold;

      &.titulo-agendamentos{
        color: #786bb9;
        font-size: 11px;
      }
    }
  }

  .info{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #222222;
    font-weight: normal;
  }

  .linha-formulario{
    display: flex;
    margin-bottom: 5px;
  }

  .conjunto-dados-formulario{
    margin-bottom:20px;
    display:flex;
    justify-content: space-between;
    width: 100%;
  }

  select.combo-logs{ max-width: 190px;}

  .dado-formulario{
    margin-right: 25px;
    position: relative;
  }

  .botaoAgendar{
    display:flex;
    align-items: flex-end;
    padding-bottom: 3px;
  }

  .caixa-logs{
    border: solid 1px #D2D2DA;
    min-height: 150px;
    max-height: 170px;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    overflow:auto;
  }

  .caixa-logs label{
    position:absolute;
    left: 0px;
    color: #222222;

  }

  .linha-logs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // min-height: 25px;
    margin-bottom:3px;
    color: #222222;
  }

  .linha-logs:last-of-type{
    margin-bottom:0px;
  }

  .linha-logs .informativo{
    display:flex;
    align-items:center;
    padding: 3px;
    

  }

  .linha-logs .status{

    color: #786bb9;
    font-style: italic;
    margin-right: 10px;
    margin-left: 5px;
    width: 150px;
    text-align: right;
  }

  .linha-logs .botao-download, .linha-logs .botao-delete {
    width: 50px;
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    

    button{
      width: 20px;
      height: 20px;
      border: none;
      background:none;
      color: #786bb9;

      &[disabled] i:before{
        opacity:.5;
      }
    }

  }

  .botao-solicitar-agendar{
    margin-left: 15px;
  }



  .linha-logs .celula-direita{
    width: 120px;
    min-width: 100px;

    display:flex;
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: center;

  }

  .linha-botoes{
    display:flex;
    justify-self: flex-end;
    justify-content:flex-end;
  }


  //grid de checkboxes
  .grid-checkboxes {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;
    // gap: 0px 15px;


    // background: red;
    height:100%;
    width:300px;
    padding-bottom: 5px;

    display:flex;
    justify-content: space-between;
    //align-items: flex-start;

    .col-6 div{
      width: 100%;
    }


  div{ 
    padding-left:5px;
    //display: flex;
    // align-items: flex-end;
  }

  label{
    line-height: 10px;
    font-weight: normal;
    margin-left: 3px;
    white-space: nowrap;
  }

  // .Administrativo { grid-area: 1 / 1 / 2 / 2; }
  // .Civel-Consumidor { grid-area: 2 / 1 / 3 / 2; }
  // .Civel-Estratégico { grid-area: 3 / 1 / 4 / 2; }
  // .Descumprimento { grid-area: 4 / 1 / 5 / 2; }
  // .JEC { grid-area: 1 / 2 / 2 / 3; }
  // .PEX { grid-area: 2 / 2 / 3 / 3; }
  // .Trabalhista { grid-area: 3 / 2 / 4 / 3; }
  // .Tributario-Judicial { grid-area: 4 / 2 / 5 / 3; }

  }
  

  .botaosair{
    min-width:70px;
  }

  select.form-control{
    padding-left:0px;
    min-width: 170px;
    
  }

  .container-botao-voltar-log-operacoes{
    width: 85%;
    margin-left: auto;
    margin-right: auto;

  }

  