<div class="modal-header">
  <span *ngIf="!UsuarioOperacao" class="modal-title pl-0">Inclusão de Usuário para Operação Retroativa de Processo Trabalhista</span>
  <span *ngIf="UsuarioOperacao" class="modal-title pl-0">Alteração de Usuário para Operação Retroativa de Processo Trabalhista</span>
  <button type="button" class="btn btn-icon" (click)="close()">
    <i class="fa fa-times"></i>
  </button>
</div>
<form [formGroup]="formGroup" class="modal-body pt-0">
  <div class="row"> 
    <div class="col-sm-8" *ngIf="!UsuarioOperacao">     
      <label class="col-form-label-sm" > <b>Usuário:</b> </label>  
      <ng-select
        [ngStyle]="{'fontSize': '11px'}"
        [items]="UsuariosLista"
        bindLabel="nomeCompleto"
        bindValue="id"
        [formControl] = "nomeFormControl"            
        appearance="outline"
        notFoundText="Nenhuma opção disponível"
        [searchable]="true"
        [clearable]="false"    
        [ngbTooltip]="nomeError"       
        [disableTooltip]="nomeFormControl.valid || nomeFormControl.untouched"          
        [placeholder]="'Selecione o Usuario'">
      </ng-select>  
      <ng-template #nomeError >
        <span *ngIf="nomeFormControl.hasError('required')" > Campo obrigatório </span>
      </ng-template>  
    </div>

    <div class="col-sm-8" *ngIf="UsuarioOperacao">
      <label class="col-form-label-sm" > <b>Usuário:</b> </label>  
      <input type="text" 
      id="limite-input" 
      disabled="true"
      [formControl]="nomeFormControl"
      class="form-control"
      [disableTooltip]="nomeFormControl.valid || nomeFormControl.untouched"
      [ngbTooltip]="nomeError"
      maxlength="50" /> 
      <ng-template #nomeError>
        <span *ngIf="nomeFormControl.hasError('required')"> Campo obrigatório </span>
      </ng-template>    
    </div>

    <div class="col-sm-4">
      <label class="col-form-label-sm" > <b>Dia Limite:</b> </label>
      <input type="text" 
          id="limite-input" 
          [formControl]="limiteFormControl"
          class="form-control"
          [disableTooltip]="limiteFormControl.valid || limiteFormControl.untouched"
          [ngbTooltip]="limiteError"
          maxlength="50" /> 
          <ng-template #limiteError>
            <span *ngIf="limiteFormControl.hasError('max') || limiteFormControl.hasError('min')"> O Dia Limite deve estar entre 1 e 31 </span>            
            <span *ngIf="limiteFormControl.hasError('required')"> Campo obrigatório </span>            
          </ng-template> 
    </div> 
  </div>


</form>

<div class="modal-footer">
  <button type="button" class="btn btn-link" aria-label="Close" (click)="close()">Cancelar</button>
  <button type="button" class="btn btn-primary" [disabled]="formGroup.invalid"
    (click)="save()">Confirmar</button>
</div>
