<div class="pb-4">
  <div class="roxo-padrao btn-novo mt-1" *ngIf="temPermissaoBlocoCeDeE">
    <div class="ml-auto mr-4" style="display: flex;align-items: center;">
      <i class="fas fa-cloud-upload-alt ml-auto mr-2 fs-2" style="font-size: 28px; cursor: pointer"
        (click)="carregarBloco()"></i>
      <span class="fs-1" style="cursor: pointer" (click)="carregarBloco()">Carregar em Bloco</span>
    </div>
    <i class="fas fa-plus-circle mr-1 fs-2" (click)="incluir()"></i>
    <span class="fs-1" (click)="incluir()">Incluir um Registro</span>
  </div>
  <div style="margin-top: 25px;">
    <div class="d-flex">
      <button class="btn btn-link ml-auto p-0 mr-4" style="cursor: pointer; text-decoration: none;"
      (click)="exportar()" *ngIf="temDados">
      <i class="fas fa-download pr-1" style="font-size:15px; cursor: pointer !important; font: roboto;"></i>
      Exportar</button>
  </div>
    <sisjur-table (sort)="buscarTabela()">
      <ng-container>
        <sisjur-table-header>
          <sisjur-table-header-cell width="46">Código Receita (CR) IRRF</sisjur-table-header-cell>
          <sisjur-table-header-cell width="46">Valor Correspondente (CR) IRRF</sisjur-table-header-cell>
          <sisjur-table-header-cell width="4"></sisjur-table-header-cell>
          <sisjur-table-header-cell width="4" *ngIf="temPermissaoBlocoCeDeE"></sisjur-table-header-cell>
        </sisjur-table-header>
        <sisjur-table-row *ngFor="let item of dataSource let i = index">
          <sisjur-table-row-cell><span title="{{item.descricaoTpcr}}">{{item.descricaoTpcr}}</span></sisjur-table-row-cell>
          <sisjur-table-row-cell>{{item.infocrcontribVrcr | currency: "BRL":"R$ ":"1.2-2":"pt"}}</sisjur-table-row-cell>
          <sisjur-table-row-cell>
            <button type="button" class="btn btn-icon" (click)="alterar(item.idEsF2501Infocrirrf)" *ngIf="!temPermissaoBlocoCeDeE"> <i
                class="fa fa-magnifying-glass"></i> </button>
            <button type="button" class="btn btn-icon" (click)="alterar(item.idEsF2501Infocrirrf)" *ngIf="temPermissaoBlocoCeDeE"> <i
                  class="fa fa-edit"></i> </button>
          </sisjur-table-row-cell>
          <sisjur-table-row-cell *ngIf="temPermissaoBlocoCeDeE">
            <button type="button" class="btn btn-icon" (click)="excluir(item.idEsF2501Infocrirrf, item.descricaoTpcr)"> <i
                class="fa fa-trash"></i> </button>
          </sisjur-table-row-cell>
        </sisjur-table-row>
      </ng-container>
    </sisjur-table>
    <div class="mt-2">
      <sisjur-paginator [length]="total" [MostrarQtdPorPagina]="false"
      [QtdFixaPorPagina]="10"
        (page)="buscarTabela()"></sisjur-paginator>
    </div>
  </div>
</div>
