.modal-title{
    font-size: 15px;
    font-weight: bold;
}


::ng-deep {
    .escritorio-modal{
        .modal-dialog {
            min-width: 1180px!important;
            max-width: 1180px!important;
        }
    }

    .ng-select.ng-select-single .ng-select-container {
      height: 10px;
    }

}
