<div class="container-modal">
  <div class="title">
      <h4 class="roxo-padrao mb-0">Dedução do Rendimento Tributável - Dependentes</h4>
      <div type="button" class="roxo-padrao" (click)="close()" aria-label="Close">
          <i class="fa-solid fa-xmark fa-2xl"></i>
      </div>
  </div>

  <div class="row cardInfo">
    <div class="col-sm-1 mt-3">
        <label class="col-form-label-sm pb-0 mb-1">
  <b>ID:</b>
  </label>
          <p>{{codIrrf}}</p>
      </div>
      <div class="col-sm-4 mt-3">
          <label class="col-form-label-sm pb-0 mb-1">
    <b>Código Receita (CR) IRRF:</b>
  </label>
          <p>{{codReceita}}</p>
      </div>
      <div class="col-sm-4 mt-3">
          <label class="col-form-label-sm pb-0 mb-1">
    <b>Valor Correspondente (CR) IRRF - Rendimento Mensal:</b>
  </label>
          <p>{{valorIrrf | currency: "BRL":"R$ ":"1.2-2":"pt"}}</p>
      </div>
      <div class="col-sm-3 mt-3">
        <label class="col-form-label-sm pb-0 mb-1">
  <b>Valor Correspondente (CR) IRRF - 13º:</b>
</label>
        <p>{{valorIrrf13 | currency: "BRL":"R$ ":"1.2-2":"pt"}}</p>
    </div>
  </div>


  <div>
    <div class="roxo-padrao btn-novo mt-1" *ngIf="temPermissaoBlocoCeDeE">
      <i class="fas fa-plus-circle ml-auto mr-1 fs-2" (click)="incluir()"></i>
      <span class="fs-1" (click)="incluir()">Incluir</span>
    </div>

    <div style="margin-top: 25px; padding: 0 1rem 1rem;">
      <sisjur-table (sort)="buscarTabela()">
        <ng-container>
          <sisjur-table-header>
            <sisjur-table-header-cell width="30">Tipo Rendimento</sisjur-table-header-cell>
            <sisjur-table-header-cell width="30">CPF Dependente</sisjur-table-header-cell>
            <sisjur-table-header-cell width="30">Valor Dedução Base Cálculo</sisjur-table-header-cell>
            <sisjur-table-header-cell width="5"></sisjur-table-header-cell>
            <sisjur-table-header-cell width="5" *ngIf="temPermissaoBlocoCeDeE"></sisjur-table-header-cell>
          </sisjur-table-header>

          <sisjur-table-row *ngFor="let item of dataSource; let i = index">
            <sisjur-table-row-cell>{{
              item.descricaoTipoRend
              }}</sisjur-table-row-cell>
            <sisjur-table-row-cell>{{
              item.deddepenCpfdep | cpf
              }}</sisjur-table-row-cell>
            <sisjur-table-row-cell>{{
              item.deddepenVlrdeducao | currency: "BRL":"R$ ":"1.2-2":"pt"
              }}</sisjur-table-row-cell>
            <sisjur-table-row-cell >
              <button type="button" class="btn btn-icon" (click)="alterar(item)" *ngIf="!temPermissaoBlocoCeDeE">
                <i class="fa fa-magnifying-glass"></i>
              </button>
              <button type="button" class="btn btn-icon" (click)="alterar(item)" *ngIf="temPermissaoBlocoCeDeE">
                <i class="fa fa-edit"></i>
              </button>
            </sisjur-table-row-cell>
            <sisjur-table-row-cell *ngIf="temPermissaoBlocoCeDeE">
              <button type="button" class="btn btn-icon" (click)="excluir(item)">
                <i class="fa fa-trash"></i>
              </button>
            </sisjur-table-row-cell>
          </sisjur-table-row>
        </ng-container>
      </sisjur-table>
      <div class="mt-2">
        <sisjur-paginator [MostrarQtdPorPagina]="false" [QtdFixaPorPagina]="10" [length]="total"
          (page)="buscarTabela()"></sisjur-paginator>
      </div>
    </div>
  </div>
</div>
