img {
  height: 58px;
    width: 387px;
    margin-left: 10px;
}

.borda-total{
  border: 1px solid blue;
  margin: 10px;
  height: 100%;
}


.borda{
  border-bottom: 1px solid black;
}

.borda-tracilhada{
  border-bottom: 1px dashed black;

}

.marg{
  margin-top: 200px;
}

.title{
  font-weight: bold;
  font-size: 20px;
}

.bold{
  font-weight: bold;
}
