.filters-box-mensagem-centro {
  font-size: 14px;
  align-self: center;
  width: 100%;
  text-align: center;
  line-height: 18px;
  font-weight: bold;
}
div.filters-box-container{
  height: 93%;
  width: 100%;
  position: relative;
  display: flex;
}

.radio {
  width: 348px;
}

.label-radio {
  padding-top: 1px;
  padding-left: 6px;
}

.prlnk-datepicker div.input-group input.form-control.erro.primeira-linha + span.guarda-erro:before,
.prlnk-datepicker div.input-group input.form-control.erro.primeira-linha + span.guarda-erro:before {
  bottom: -20px;
}
