<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ titulo }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-0" [formGroup]="formulario">
  <form>
    <div class="row">
      <div class="col-md-10">
        <label class="col-form-label-sm" for="descricao">
          <b>Descrição:</b>
        </label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="descricao" name="descricao"
          maxlength="30"
          [formControl]="descricaoFormControl"
          placement="top-left"
          [disableTooltip]="desabilitaTooltip(descricaoFormControl)"
          [ngbTooltip]="validacaoTexto" />
        <ng-template #validacaoTexto>
          <span *ngIf="descricaoFormControl.invalid && descricaoFormControl.errors.required">
            Campo obrigatório
          </span>
          <span *ngIf="descricaoFormControl.invalid && descricaoFormControl.errors.maxlength">
            A descrição não pode ter mais de 30 caracteres
          </span>
        </ng-template>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="col-form-label-sm" for="naturezaAcaoBB">
          <b>Natureza da Ação BB:</b>
        </label>
        <ng-select
        [ngStyle]="{'fontSize': '11px'}"
        id="nome"
        [items]="naturezasAcoesBB"
        bindLabel="nome"
        bindValue="id"
        appearance="outline"
        notFoundText="Nenhuma opção disponível"
        [searchable]="true"
        [clearable]="true"
        [formControl]="naturezaAcaoBBFormControl"
        [placeholder]="'Selecione uma opção'"></ng-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 pt-2">
          <label class="col-form-label-sm font-weight-bold" for="depara">
            Acão Correspondente Cível Estratégico (DExPARA Migração de Processo)
          </label>
          <ng-select
            [ngStyle]="{ fontSize: '11px' }"
            id="depara"
            [items]="comboDeparaEstrategico"
            bindLabel="nome"
            bindValue="idEstrategico"
            notFoundText="Nenhuma opção disponível"
            [searchable]="true"
            [clearable]="true"
            clearAllText="Limpar"
            [formControl]="comboDeparaEstrategicoFormControl"
            placeholder="Selecione uma opção"
            [virtualScroll]="true"
          >
          </ng-select>

    </div>

  </div>
  <div class="row" style="margin-left: 2px;  margin-top: 5px;">

    <input type="checkbox" style="margin-right: 3px;" [formControl]="enviarAppPrepostoFormControl">
    <label style="    margin-top: 4px;">Enviar processos dessa ação para o App Preposto  </label>

  </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" aria-label="Close" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="onSubmit()">Confirmar</button>
</div>

