.ng-select {
    width: 100%;
  }
  
  .ng-select .ng-select-container {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
//   .justify-content-between {
//     justify-content: space-around !important;
// }

// .fonte-padrao-negrito-hibrido {
//   text-align: center;
//   font-weight: bold;
// }