<app-vertical-dual-list
    [headers]="service.listaHeaderTabela"
    nomeContexto="Processos"
    [itens]="dadosEncontrados"
    (itensAdicionados)="onAdicionar($event)"
>
    <form busca [formGroup]="form">
        <div class="busca">
            Busca:
            <input type="text"
                    maxlength="50"
                    class="mt-1"
                    formControlName="numeroProcesso"
                    placeholder="N° Processo"
                    numbersOnly />
        </div>
    </form>
</app-vertical-dual-list>
