<div class="modal-header">
  <span class="modal-title modal-custom-font-size w700" style="font-size: 14px ;" id="modal-instrucoes">
    Siga as instruções abaixo para carga dos códigos internos:
  </span>
  <button type="button" class="close" aria-label="Close" (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body font-grey">
  <div class="row mb-4">
    <div class="col-1 pr-1">1º</div>
    <div class="col-11 pl-0">
      <span [ngStyle]="{ fontSize: '12px' }">
        Clique em "<strong>Baixar arquivo padrão</strong>" para baixar o modelo de arquivo
        correto que deve ser utilizado na carga dos códigos internos dos
        processos. Você não precisa utilizá-los, mas serão úteis para conferir
        se os seus arquivos estão de acordo com o esperado pelo sistema;
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-1 pr-1">2º</div>
    <div class="col-11 pl-0">
      <span [ngStyle]="{ fontSize: '12px' }">
        Antes de importar o arquivo, o sistema irá realizar algumas verificações
        para garantir que a carga dos códigos internos dos processos ocorra
        com sucesso:
        <blockquote class="pt-3 pl-3">
          <strong>* Extensão do arquivo:</strong> O sistema só aceitará a importação de
          arquivo <strong>csv</strong>;
        </blockquote>
        <blockquote class="pl-3">
          <strong>* Tamanho do arquivo:</strong> Será permitida a importação de arquivos
          com até 10MB;
        </blockquote>
        <blockquote class="pl-3">
          <strong>* Arquivo vazio:</strong> Se o arquivo csv estiver vazio, o sistema irá alertá-lo
          para que verifique antes de realizar o agendamento da carga.
        </blockquote>

      </span>
    </div>
  </div>
</div>