::ng-deep .resultado-negociacao-modal {
    .modal-content {
        min-width: 670px !important;
        max-width: 671px !important;
    }
    .modal-lg {
        min-width: 670px !important;
        max-width: 671px !important;
    }
}